.ruleListPage > main > header {
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
}
.ruleListPage {
    .ant-tabs-top > .ant-tabs-nav::before {
        border-color: #fff;
    }
    height: 100%;
    .RoleItem {
        cursor: pointer;
        padding: 8px 0px 8px 8px;
        .NodeMenuIcon {
            visibility: hidden;
            padding: 5px 8px;
            &:hover {
                background-color: #e8e9eb;
            }
        }

        .ant-list-item-meta-content {
            width: 100%;
            .ant-list-item-meta-title {
                word-break: keep-all;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &.SelectedRoleItem {
            .ant-list-item-meta-title {
                color: #4d73ff;
            }
        }

        &:hover {
            background-color: #f4f5f7;
            .NodeMenuIcon {
                visibility: visible;
                transform: rotate(90deg);
            }
        }
    }
}
.importRuleModal {
    .importTitle {
        color: #606366;
        margin-bottom: 8px;
    }
    a {
        margin-bottom: 24px;
        display: inline-block;
    }
}