.my_tooltip {
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(102, 102, 102, 0.2);
    border: 1px solid rgba(102, 102, 102, 0.1);
    width: 240px;
    padding: 12px 18px;
}
.g6_tooltip_box {
    p {
        margin: 0;
        padding: 0;
        margin-top: 4px;
    }
    .table_title {
        text-align: left;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        word-break: break-all;
        font-size: 14px;
        color: #2d3033;
        font-weight: 500;
        padding-bottom: 12px;
    }
    .column_title {
        text-align: left;
        font-size: 14px;
        color: #1890ff;
        word-break: break-all;
    }
    .title_for {
        margin-top: 16px;
        padding-bottom: 6px;
        font-size: 14px;
        color: #333;
        word-break: break-all;
    }
    .pre {
        width: 78px;
        display: inline-block;
        color: #333;
        font-size: 14px;
    }
    .table_name {
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        color: #1890ff;
        word-break: break-all;
        display: flex;
        .pre {
            width: 78px;
        }
        .content {
            flex: 1;
        }
    }

    .real_key {
        word-break: break-all;
        color: #333;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(102, 102, 102, 0.1);
        margin-bottom: 8px;
    }
}

.g6-component-toolbar {
    right: -24px;
    border: 0;
    top: -148px;
    left: auto;
    li[code='redo'],
    li[code='undo'] {
        display: none;
    }
}
