.infoCardBody {
    display: block;
    border-radius: 4px;
    padding: 20px 24px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);

    .item_left {
        float: left;
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        text-align: center;
        line-height: 48px;
    }

    .item_left_user {
        background: linear-gradient(312deg, #3C5EFF 0%, #4691FF 100%);
        font-size: 16px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #FFFFFF;

    }

    .item_left_role {
        background: linear-gradient(312deg, #FF6D50 0%, #FFA035 100%);
        color: #FFFFFF;
        font-size: 20px;
    }

    .item_content {
        float: left;
        margin-left: 20px;

        .title {
            font-size: 18px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #2D3033;
            line-height: 26px;
        }

        .xitong_tag {
            width: 40px;
            height: 20px;
            background: #FFFFFF;
            border-radius: 10px;
            border: 1px solid rgba(37, 127, 218, 0.3);
            color: #257FDA;
            padding: 2px 6px;
        }

        .bottom {
            color: #5E6266;
            font-size: 14px;
            margin-top: 6px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;

            .bottom_item {
                display: inline-block;
                line-height: 22px;
                margin-right: 40px;
            }
        }
    }
}