.EntityListPage {
    .SliderHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        em {
            font-size: 12px;
            color: #9ea3a8;
            font-style: normal;
            font-weight: normal;
            margin-left: 16px;
        }
    }
}
