
.auto-input-search-item {
    display: flex;
    font-size: 12px !important;
  }
  
.auto-input-search-item-desc {
    flex: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    
    .highlight{
      color: red
    }
}
  
.auto-input-search-item-count {
    flex: none;
}