.boardDetial{
    padding: 35px 136px 0 136px;
    background:rgba(246,248,250,1);
    height: 100%;
    overflow-y: auto;
    .detialHeader{
        font-family: 'PingFangSC-Regular','PingFang SC';
        .topic1{
            font-size: 12px;
            font-weight:400;
            color:rgba(0,0,0,1);
            line-height:20px;
            margin-bottom: 8px;
        }
        .topic2{
            font-size:16px;
            font-weight:500;
            color:rgba(0,0,0,1);
            line-height:24px;
            margin-bottom: 24px;
            .topicName{
                max-width: 90%;
                display: inline-block;
                word-wrap: break-word;
            }
            .changeName{
                cursor: pointer;
                margin-left: 9px;
            }
            .rightBtn{
                float: right;
                .filterBtn{
                    display: inline-block;
                    cursor: pointer;
                    background: #FFFFFF;
                    color:rgba(0,0,0,0.65);
                    border: 1px solid rgba(217,217,217,1);
                    border-radius: 5px;
                    padding: 5px;
                    font-size: 14px;
                    font-family:PingFangSC-Regular,PingFang SC;
                    font-weight:400;
                    line-height:22px;
                    .filterIcon{
                        cursor: pointer;
                        height: 14px;
                        margin: 0 5px;
                    }
                }
            }
        }

    }
    .blankContent{
        text-align: center;
        padding-top: 150px;
        font-size:16px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(0,0,0,1);
        line-height:24px;
        img{
            width: 103px;
            margin-bottom: 24px;

        }
    }
}