.dataCompareDetail {
    .tableResult {
        .ant-tabs {
            margin-bottom: 0px;
        }
        main {
            padding: 0px;
        }
        .compareTag {
            width: 32px;
            height: 20px;
            border-radius: 2px;
            display: inline-block;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            margin-right: 4px;
        }
    }
    .compareItems {
        padding: 16px 0;
        border-radius: 4px;
        border: 1px solid #E6E8ED;
        margin-bottom: 32px;
        position: relative;
        .Grid2 {
            column-gap: 0px;
        }
        .Grid2 > div {
            text-align: center;
            .titleName {
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #2D3033;
                font-size: 16px;
            }
            .versionName {
                color: #5E6266;
                margin: 4px 0 20px 0;
            }
            .systemName {
                color: #5B7FA3;
            }
        }
        img {
            position: absolute;
            top: 0px;
            left: calc(~"50% - 15px");
            height: 120px;
        }
    }
    .resultStatics {
        column-gap: 16px;
        row-gap: 16px;
        .staticsItem {
            border-radius: 4px;
            border: 1px solid #E6E8ED;
            padding: 20px;
            .staticsItemTitle {
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #1A1A1A;
                margin-bottom: 27px;
                img {
                    width: 14px;
                    margin-right: 16px;
                }
            }
            .ant-row {
                .titleName {
                    color: #9EA3A8;
                }
                .value {
                    font-family: DIN-Medium, DIN;
                    font-weight: 500;
                    color: #262626;
                    font-size: 20px;
                }
                .Grid2 {
                    column-gap: 40px;
                }
                .Grid4 {
                    column-gap: 80px;
                    padding-left: 57px;
                    .Grid2 {
                        column-gap: 12px;
                        border-right: 0px;
                        width: 150px;
                    }
                }
                .Grid2 {
                    border-right: 1px solid #DFE1E6;
                }
                .ant-progress-text {
                    font-family: DIN-Medium, DIN;
                    font-weight: 500;
                    color: #262626;
                    font-size: 16px;
                }
            }
        }
    }
}
.addCompareTask {
    .ant-steps {
        .ant-steps-item-title::after {
            background-color: #E6E8ED !important;
        }
        .ant-steps-item-icon {
            border-color: #C0C6CC;
        }
        .ant-steps-item-wait {
            .ant-steps-item-title {
                color: #9EA3A8 !important;
                font-weight: 400;
            }
        }
        .ant-steps-item-active {
            .ant-steps-item-title {
                font-weight: 500;
            }
            .ant-steps-item-icon {
                border-color: #4d73ff;
            }
        }
        .ant-steps-item-finish {
            .ant-steps-item-title {
                color: #2D3033 !important;
                font-weight: 400;
            }
            .ant-steps-item-title::after {
                background-color: #4d73ff !important;
            }
            .ant-steps-item-icon {
                border-color: #4d73ff;
            }
        }
    }
    .stepOne {
        padding-bottom: 50px;
        .Module {
            padding: 16px 20px 20px 20px;
            margin-bottom: 16px;
        }
        .ant-form-item-control-wrapper {
            display: inline-block;
            width: calc(~"(50% - 8px) - 94px");
            margin-left: 24px;
        }
        .systemTreeArea {
            border: 1px solid #E6E8ED;
            .titleName {
                height: 40px;
                background: #F4F5F7;
                box-shadow: 0px 1px 0px 0px #E6E8ED;
                padding: 9px 16px 9px 20px;
                font-size: 14px;
                font-family: PingFangSC-Semibold, PingFang SC;
                font-weight: 600;
                color: #1A1A1A;
                line-height: 22px;
                text-shadow: 0px 1px 0px #E6E8ED;
                span {
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: #2D3033;
                    float: right;
                }
            }
            .treeArea {
                height: 370px;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 8px 16px 20px 20px;
                .ant-tree li {
                    border-left: 0px;
                }
            }
            .versionName {
                box-shadow: 0px -1px 0px 0px #E6E8ED;
                padding: 12px 20px;
                .required {
                    color: #CC0000;
                    margin-right: 2px;
                    vertical-align: middle;
                }
                .newTag {
                    width: 28px;
                    height: 16px;
                    background: linear-gradient(312deg, #FF5701 0%, #FF8402 100%);
                    border-radius: 2px;
                    display: inline-block;
                    text-align: center;
                    line-height: 16px;
                    color: #fff;
                    font-size: 10px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    margin-right: 8px;
                }
            }
        }
    }
    .stepTwo {
        padding-bottom: 50px;
        .Module {
            padding: 16px 20px 20px 20px;
            margin-bottom: 16px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            td {
                text-align: center;
                border: 1px solid #E6E8ED;
                height: 72px;
                color: #5E6266;
                padding: 0 30px;
                .iconfont {
                    cursor: pointer;
                    color: #4D73FF;
                }
                .LineClamp:hover {
                    color: #4D73FF;
                }
                .LineClamp {
                    cursor: pointer;
                }
            }
            .thead {
                height: 102px;
                background: #F7F8FA;
                color: #5E6266;
                .titleName {
                    font-size: 16px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: #2D3033;
                }
                .versionName {
                    color: #2D3033;
                    margin-top: 8px;
                }

            }
        }
    }
    .stepThree {
        padding-bottom: 50px;
        .Module {
            padding: 16px 20px 20px 20px;
            margin-bottom: 16px;
            main {
                width: 50%;
                overflow: hidden;
            }
        }
        .tabBtn {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 8px;
            .tabBtnItem {
                height: 32px;
                cursor: pointer;
                background: #F7F8FA;
                border-radius: 2px;
                border: 1px solid #C0C6CC;
                color: #5E6266;
                line-height: 32px;
                text-align: center;
                position: relative;
                padding: 0px;
                svg {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    right: 0px;
                }
            }
            .tabBtnItemSelected {
                background: rgba(77, 115, 255, 0.1);
                border: 1px solid #4D73FF;
                color: #4D73FF;
            }
        }
        .rangeArea {
            background: #F7F8FA;
            margin-top: 12px;
            padding: 16px;
            .ant-form-item {
                margin-bottom: 0px;
            }
            .timeTitle, .timeEndTip {
                color: #606366;
            }
            .timeEndTip {
                margin-left: 24px;
                span {
                    color: #2D3033;
                }
            }
            .editautoDay {
                display: flex;
                align-items: center;
                > *:not(:last-child) {
                    margin-right: 12px;
                }
                .editautoDayCheck {
                    border-radius: 2px;
                    line-height: 22px;
                    width: 329px;
                    .ant-checkbox-wrapper {
                        position: relative;
                        background: #fff;
                        border: 1px solid #C0C6CC;
                        margin-left: -1px;
                        margin-top: -1px;
                        margin-right: 0;
                        height: 32px;
                        width: 48px;
                        text-align: center;
                        line-height: 32px;
                        font-size: 14px;
                        svg {
                            width: 14px;
                            height: 14px;
                            position: absolute;
                            right: 0px;
                        }
                        .ant-checkbox {
                            display: none;
                        }
                    }
                    .ant-checkbox-wrapper:hover {
                        border: 1px solid #4D73FF;
                        background: #F0F3FC;
                        z-index: 1;
                    }
                    .ant-checkbox-wrapper-checked {
                        border: 1px solid #4D73FF;
                        background: #F0F3FC;
                        z-index: 1;
                    }
                    .ant-checkbox {
                        position: absolute;
                        right: 2px;
                        top: 14px;

                        .ant-checkbox-inner {
                            background-color: transparent;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
.addCompareTask > .TableLayout > main {
    background-color: transparent;
    padding: 0px;
}
.AddDatatypeSetDrawer {
    .previrwArea {
        background: #F7F8FA;
        border-radius: 2px;
        border: 1px solid #C0C6CC;
        min-height: 120px;
        max-height: 70vh;
        overflow-y: auto;
        padding: 5px 16px;
        color: #2D3033;
        width: 100%;
        resize: none;
        outline: none;
    }
    .ruleDesc {
        color: #5E6266;
        font-size: 12px;
        padding: 16px 20px 32px 20px;
        border-left: 1px dashed rgba(151, 151, 151, 0.2);
        margin-left: 5px;
        line-height: 22px;
    }
    .ant-form-item-label {
        text-align: left;
        width: 100%;
    }
}
.systemMap {
    .RichTableLayout main {
        padding: 0px;
        background-color: transparent;
        .RichTableLayout_SearchGroup {
            padding: 16px;
            background: #fff;
            margin-bottom: 0px;
        }
        .ant-table-wrapper {
            padding: 0px 20px 20px 20px;
            background: #fff;
        }
    }
    .ant-alert {
        .ant-alert-message {
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #2D3033;
        }
        .ant-alert-description {
            color: #5E6266;
            line-height: 22px;
        }
        .ant-alert-icon {
            top: 17px;
        }
    }
}
.addSystemMap {
    .descArea {
        .borderLeft {
            column-gap: 16px;
            font-size: 12px;
            color: #5E6266;
            line-height: 22px;
            border-left: 1px dashed rgba(151, 151, 151, 0.2);
            margin-left: 5px;
            padding: 16px 20px 32px 20px;
        }
    }
}