.DiagramItem {
    display: flex;
    align-items: center;
    .Pill {
        width: 16px;
        height: 6px;
        background: #9142ff;
        border-radius: 10px;
        margin-right: 5px;
    }
    &:not(:last-child) {
        margin-right: 24px;
    }
}
