.SelectedIconWrap {
    position: absolute;
    right: 0;
    top: 0;

    .SelectedIconBg {
        width: 0;
        height: 0;
        border: 11px solid rgba(77, 115, 255, 1);
        border-left-color: transparent;
        border-bottom-color: transparent;

        .SelectedIcon {
            position: absolute;
            right: 1px;
            top: 1px;
            color: white;
            line-height: 1;
            font-size: 12px;
        }
    }
}
