.promptUserWrong{
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 30%;
    img{
      width: 102px;
    }
    span{
      display:block;
      padding-top: 15px;
      font-size: 16px;
    }
  }

  .editCard{
    box-shadow: 0px 6px 8px 0px rgba(18, 28, 37, 0.1);
    &:hover{
      box-shadow: 0px 6px 8px 0px rgb(182, 183, 183);
    }

    .cardTitle{
      font-size:14px;
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:600;
      color:rgba(0,0,0,0.85);
      // line-height:24px;
    }
    .fieldLabel{
      font-size:12px;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(0,0,0,1); 
      
      .ant-form-item-label{
        opacity: 0.45;
      }
       
    }
  }

// .filterIconCls{
//   i{ 
//     display: none;
//   }
// }

// .filterIconCls:hover{
//     cursor: pointer;
//     i{ 
//       display: inline-block;
//     }
// }