.nameContainer {
    display: inline-block;
    max-width: 50%;
    .back {
        display: inline-block;
        cursor: pointer;
        width: 52px;
        height: 52px;
        line-height: 52px;
        text-align: center;
        background: linear-gradient(270deg, #5C89FF 0%, #295DF0 100%);
        .iconfont {
            font-size: 24px;
            color: #fff;
        }
    }
    .taskName {
        float: right;
        padding: 15px 16px;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #2D3033;
        cursor: pointer;
        width: calc(~"100% - 52px");
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
        .iconfont {
            margin-left: 8px;
            font-size: 16px;
        }
    }
}