.wrap {
    display: flex;
    flex-direction: column;
    .search {
        margin-bottom: 16px;
    }
    .list {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
    }
}

.customRender {
    color: #9ea3a8;
    margin-bottom: 12px;
    margin-top: 10px;
    padding: 0 16px;
    span {
        color: #2d3033;
    }
}
