:global {
  .QuillDoc {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    > .ql-toolbar {
      width: 100%;
      border-bottom: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
    }
    .QuillDocBody {
      width: 600px;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
}
