:global {
  .UnFocusSelect {
    position: relative;
    .UnFocusSelectBtn {
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: space-between;
      height: 32px;
    }

    .UnFocusSelectDropDown {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(100%);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      background-color: white;
      padding: 8px 0;
      display: none;
      z-index: 9;
      .UnFocusSelectDropDownItem {
        padding: 5px 10px;
        cursor: pointer;
        &:hover {
          background-color: rgb(240, 240, 240);
        }
      }
    }

    &.UnFocusSelectVisible {
      .UnFocusSelectDropDown {
        display: block;
      }
    }
  }
}
