.ErrorWrap {
    max-height: 70vh;
    overflow: auto;
    .ErrorItem {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        h4 {
            font-weight: bold;
        }
    }
}
