html,
body {
    margin: 0;
}
.loading {
    text-align: center;
    margin-top: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serifs;
    line-height: 1.5;
}

.loading > .Title {
    font-size: 16px;
    color: black;
    margin-bottom: 8px;
}

.loading > .Footer {
    color: #5e6266;
    font-size: 14px;
}

@keyframes imgLoading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
