.userDetail {
    :global {
        .ant-drawer-wrapper-body .ant-drawer-body > main {
            padding: 0;
            > *:not(:last-child) {
                margin: 0;
            }
        }
        .infoCardBody {
            box-shadow: none;
        }
        .Module {
            padding: 24px;
        }
    }
}
