.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
}
// 修改提示框大小
.ant-tooltip-placement-top[style*='499'] .ant-tooltip-inner{
  max-width: 100%
}
.generalMain{
    padding: 10px 10px 0px 15px;
}
.generalScreen{
  .ant-btn{
    margin-right: 20px;
  }
  margin-bottom: 10PX;
}
