.DetailItem {
    width: 240px;
    height: fit-content;
    flex-grow: 0;
    flex-shrink: 0;
    background: #ffffff;
    border: 1px solid #e6e8ed;
    transition: all 0.3s;

    > header {
        background: #f7f8fa;
        border-bottom: 1px solid #e6e8ed;
        padding: 8px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        * {
            flex-grow: 0;
            flex-shrink: 0;
        }
        .HGroup {
            display: flex;
            align-items: center;
            overflow: hidden;
            flex-grow: 1;
            flex-shrink: 1;
            margin-right: 8px;
        }

        .Tag {
            padding: 1px 4px;
            background: #50e3c2;
            border-radius: 2px;
            color: white;
            margin-right: 6px;
            font-size: 12px;
        }

        .FieldName {
            flex-grow: 1;
            flex-shrink: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .List {
        .ListItem {
            padding: 0 15px;
            height: 33px;
            line-height: 33px;
            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom: 1px solid #e6e8ed;
            word-break: keep-all;
            white-space: nowrap;
        }
    }
}
