.OverviewItem {
    height: 94px;
    background: #f7f8fa;
    border-radius: 2px;
    padding: 0 22px;
    display: flex;
    align-items: center;
    .Icon {
        width: 44px;
        margin-right: 22px;
    }
    > main {
        flex-grow: 1;
        flex-shrink: 1;
        > h5 {
            font-size: 14px;
            font-weight: 400;
            color: #5e6266;
            line-height: 1;
            margin-bottom: 8px;
            display: flex;
            justify-content: space-between;
        }

        b {
            font-size: 24px;
            font-weight: 500;
            color: #262626;
            margin: 0 4px;
        }

        > div {
            font-size: 14px;
            font-weight: 500;
            color: #2d3033;
        }
    }
}
