.dataCategory {
    .highlight {
        color: #2d3033;
    }
    .dataTitle {
        font-size: 20px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #2d3033;
        > span {
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #2d3033;
            float: right;
        }
    }
    .categoryContent {
        overflow-x: auto;
        height: calc(~'100vh - 180px');
        white-space: nowrap;
        transition: 0.5s;
        max-width: 280px;
        overflow-y: hidden;
        .categoryItem {
            width: 280px;
            height: 100%;
            position: relative;
            margin-right: -1px;
            display: inline-block;
            .itemHeader {
                height: 40px;
                background: #f4f5f7;
                padding: 0 16px;
                line-height: 40px;
                font-size: 14px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #2d3033;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                border: 1px solid #e6e8ed;
                border-bottom: 0;
            }
            .itemHeaderGrey {
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #9ea3a8;
            }
            .itemContent {
                height: calc(~'100% - 80px');
                padding: 12px 8px;
                border: 1px solid #e6e8ed;
                border-bottom: none;
                .itemDiv {
                    margin-bottom: 8px;
                    background: #ffffff;
                    max-height: 48px;
                    //padding: 12px;
                    cursor: pointer;
                    transition: 0.5s;
                    position: relative;
                    border: 1px solid #e6e8ed;
                    .iconfont {
                        color: #5e6266;
                    }
                    .icon-more:hover {
                        color: #4d73ff;
                        background: #f4f5f7;
                        border-radius: 2px;
                    }
                    .icon-more {
                        // position: absolute;
                        // top: 16px;
                        // right: 35px;
                        width: 16px;
                        height: 16px;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        //padding-top: 4px;
                    }
                    .itemTitle {
                        padding: 0 12px;
                        height: 46px;
                        display: flex;
                        align-items: center;
                        position: relative;
                        .ant-tag {
                            vertical-align: top;
                        }
                        .titleValue {
                            display: inline-block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap !important;
                            flex-grow: 1;
                            flex-shrink: 1;
                            margin-right: 4px;
                            .titleCompletion {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 0;
                                height: 0;
                                border-top: 8px solid #f54b45;
                                border-right: 8px solid transparent;
                            }
                            .iconfont {
                                font-size: 14px;
                                color: #f7b500;
                                margin-right: 8px;
                                &.business3 {
                                    color: #469be6;
                                }
                            }
                            img {
                                //border-radius: 100%;
                                position: relative;
                                top: -2px;
                                margin-right: 8px;
                            }
                        }
                        .titleIcon {
                            i {
                                color: #5e6266;
                                width: 20px;
                                height: 20px;
                                padding-top: 4px;
                            }
                        }
                    }
                    .itemDesc {
                        padding: 0px 12px 12px 12px;
                        word-break: break-all;
                        > div {
                            font-size: 12px;
                            color: #5e6266;
                            line-height: 20px;
                            white-space: initial;
                            > span {
                                width: 190px;
                            }
                        }
                    }
                }
                .itemDiv:hover {
                    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
                }
                .itemDivSelected {
                    background: #e8f2fc;
                    border-radius: 2px;
                    border: 1px solid #4d73ff;
                    max-height: 300px;
                    .titleValue {
                        white-space: initial !important;
                    }
                }
                .itemDivDisabled {
                    .ant-tag {
                        opacity: 0.35;
                    }
                    .titleValue {
                        opacity: 0.35;
                    }
                }
                .emptyLabel {
                    color: #5e6266;
                    text-align: center;
                    margin-top: 40%;
                    a {
                        margin-left: 12px;
                    }
                }
            }
            .itemFooter {
                height: 40px;
                background: #f4f5f7;
                cursor: pointer;
                color: #507499;
                line-height: 40px;
                text-align: center;
                display: flex;
                &.footerHide {
                    pointer-events: none;
                    border-bottom: 1px solid #e6e8ed;
                    border-left: 1px solid #e6e8ed;
                    background-color: transparent;
                    border-right: 1px solid #e6e8ed;
                    > div {
                        opacity: 0;
                    }
                }
                div {
                    width: 100%;
                    box-sizing: border-box;
                    border: 1px solid #e6e8ed;
                    i {
                        margin-right: 8px;
                    }
                    .anticon-swap {
                        transform: rotate(-90deg);
                    }
                }
                div:hover {
                    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
                    border: 1px solid #c0c6cc;
                    background: #f7f8fa;
                }
            }
        }
    }
    .dataCategoryPreview {
        padding: 12px 72px 72px 72px;
        background: #fff;
        .previewTitle {
            font-size: 22px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            margin: 18px 16px;
        }
        .previewItem {
            margin-top: 12px;
            height: 254px;
            border-radius: 4px;
            border: 1px solid #e6e8ed;
            padding: 32px 24px;
            display: flex;
            .anticon {
                font-size: 52px;
            }
            .previewContent {
                margin-left: 24px;
                width: 100%;
                .catalogTitle {
                    margin-bottom: 16px;
                    span {
                        font-size: 16px;
                        font-family: PingFangSC-Medium, PingFang SC;
                        font-weight: 500;
                        color: #262626;
                        display: inline-block;
                        max-width: calc(~'100% - 60px');
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    a {
                        float: right;
                    }
                }
                .catalogDesc {
                    color: #5e6266;
                    line-height: 22px;
                    height: 44px;
                    margin-bottom: 32px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                }
                .ant-btn {
                    margin-top: 16px;
                    display: block;
                }
                .ant-btn.ant-btn-primary:disabled {
                    background: #4d73ff;
                    opacity: 0.4;
                }
            }
        }
        .previewItem:hover {
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
        }
    }
    .categorySelect {
        .ant-select-arrow {
            //top: 9px;
            .iconfont {
                font-size: 12px;
            }
            .ant-select-arrow-icon:after {
                display: none;
            }
        }
    }
}
.categoryDropdown {
    width: 640px !important;
    max-height: 306px;
    //overflow-y: auto;
    padding: 16px 0;
    //width: 800px !important;
    .rc-virtual-list-holder {
        //max-height: 196px !important;
    }
    .dropdownTitle {
        color: #9ea3a8;
        margin-bottom: 12px;
        padding: 0 16px;
        span {
            color: #2d3033;
        }
    }
    .dropdownValue {
        padding: 0 16px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        color: #5e6266;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dropdownValue:hover {
        background: #f4f5f7;
    }
    .dropdownValueSelected {
        background: #f4f5f7;
    }
    .highlight {
        color: #4d73ff;
    }
    .emptyIcon {
        text-align: center;
        margin: 80px 0;
        .anticon {
            font-size: 52px;
        }
        div {
            margin-top: 16px;
            color: #9ea3a8;
        }
    }
}
.hideDropdown {
    display: none;
}
.categoryMenuDropdown {
    width: 100px;
    .ant-dropdown-menu-item-active {
        color: #4d73ff;
    }
}
.categoryDetailDrawer {
    .ant-table-row-expand-icon,
    .ant-table-row-indent {
        display: none;
    }
    .tagInfo {
        div {
            height: 24px;
            padding: 0px 8px;
            text-align: center;
            line-height: 24px;
            background: #f0f2f5;
            border-radius: 2px;
            border: 1px solid #e6e8ed;
            display: inline-block;
            margin-right: 4px;
            margin-bottom: 4px;
        }
    }
    .tagsSelect {
        .ant-select-selection--multiple {
            height: 32px;
            overflow-y: auto;
        }
    }
    .tabBtn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 8px;
        .tabBtnItem {
            padding-top: 0px;
            height: 32px;
            cursor: pointer;
            background: #f7f8fa;
            border-radius: 2px;
            border: 1px solid #c0c6cc;
            color: #5e6266;
            line-height: 32px;
            text-align: center;
            position: relative;
            svg {
                width: 16px;
                height: 16px;
                position: absolute;
                right: 0px;
            }
        }
        .tabBtnItemSelected {
            background: rgba(77, 115, 255, 0.1);
            border: 1px solid #4d73ff;
            color: #4d73ff;
        }
    }
    .ErrorInfo {
        background: #f0f3fc;
    }
    .Module .ModuleTitle {
        margin-bottom: 0px !important;
    }
    .ant-divider-horizontal {
        margin: 0px;
    }
    :global {
        .ant-radio.ant-radio-disabled.ant-radio-checked .ant-radio-inner {
            border: 4px solid #c0c6cc;
        }
        .ant-radio.ant-radio-disabled + span {
            color: #2d3033;
        }
    }
}
.hideDropdown {
    display: none;
}
.dataCategpryModal {
    .ant-modal-body {
        max-height: 600px;
        overflow-y: auto;
    }
    .catalogTitle {
        margin-bottom: 4px;
        font-size: 16px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #262626;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .catalogDesc {
        color: #5e6266;
        line-height: 22px;
        margin-bottom: 24px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
    }
    .tableCell {
        table {
            font-size: 12px;
            border-collapse: collapse;
            border: 1px solid #e6e8ed;
            width: 100%;
            td {
                border: 1px solid #e6e8ed;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .tbody {
                padding: 12px;
            }
            .theader {
                background: #f4f5f7;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #2d3033;
                text-align: center;
                height: 52px;
            }
        }
    }
}
.deleteCategpryModal {
    .catalogTitle {
        font-size: 16px;
        color: #ff4d4f;
    }
    .catalogDesc {
        line-height: 22px;
        margin-top: 12px;
    }
    .footer {
        height: 64px;
        line-height: 64px;
        box-shadow: 0px -1px 0px 0px #e6e8ed;
        padding: 0px 24px;
        .ant-btn:disabled {
            background: #ff4d4f;
            opacity: 0.3;
            color: #fff;
        }
        .ant-checkbox-wrapper {
            color: #5e6266;
        }
    }
    .ant-modal-body {
        padding: 0px;
    }
}
.postForm {
    .ant-form-item .ant-form-item-label > label {
        color: #606366;
    }
}
.securityEditDrawer {
    .ant-input-number-handler-wrap {
        display: none;
    }
    .ant-checkbox-wrapper {
        margin: 24px 0 8px 0;
        color: #606366;
    }
}
.securityDetailDrawer {
    .titleArea {
        .titleValue {
            font-size: 18px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
        }
        .description {
            color: #5e6266;
            margin-top: 8px;
        }
    }
    .ant-divider {
        margin: 24px 0 !important;
    }
    .MiniForm {
        background: transparent !important;
        padding: 0px !important;
    }
    .tagArea {
        span {
            display: inline-block;
            padding: 1px 8px;
            background: #f0f2f5;
            border-radius: 2px;
            border: 1px solid #e6e8ed;
            margin: 0 4px 4px 0;
        }
    }
    .expArea {
        padding: 16px;
        border-radius: 2px;
        border: 1px solid #e6e8ed;
        div {
            color: #5e6266;
            margin-bottom: 12px;
        }
    }
}
.securitySet {
    .ant-tag {
        //vertical-align: bottom !important;
    }
}
.EditMiniForm {
    :global {
        .ant-form-item-control-input-content {
            .addonAfter {
                position: absolute;
                top: 6px;
                right: 10px;
            }
        }
    }
}

.classifyDetail {
    padding-bottom: 21px;
    .header {
        //margin-top: 6px;
        p {
            margin: 0;
        }
        .title {
            margin-bottom: 8px;
            font-size: 18px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #2d3033;
            line-height: 25px;
            .iconfont {
                color: #f7b500;
                margin-right: 8px;
                font-size: 20px;
                &.business3 {
                    color: #469be6;
                }
            }
            .mark {
                width: 156px;
                height: 28px;
                background: #f54b45;
                border-radius: 14px 14px 14px 0px;
                display: inline-block;
                font-size: 20px;
                color: #fff;
                text-align: center;
                transform: scale(0.5);
                position: relative;
                left: -28px;
                top: 2px;
            }
        }
        .desc {
            color: #5e6266;
            word-break: break-all;
        }
    }
    > h3 {
        font-size: 14px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #262626;
        margin: 0;
    }
}

.classifyModal {
    .ant-modal-header {
        border-bottom: none;
    }
    :global {
        .ant-modal-body {
            padding: 16px 24px;
            p {
                margin: 0;
                span {
                    font-weight: 500;
                }
            }
        }
    }
}

.securitySetEmpty {
    flex-grow: 1;
    flex-shrink: 1;
    > main {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .securitySetEmptyBody {
        display: flex;
        flex-direction: column;
        align-items: center;
        > *:not(:last-child) {
            margin-bottom: 16px;
        }
        .Des {
            font-size: 14px;
            font-weight: 400;
            color: #5e6266;
            line-height: 20px;
        }
    }
}

.securitySetUploadModal {
    .ant-modal-body {
        > div {
            &:not(:last-child) {
                margin-bottom: 28px;
            }
            > p {
                margin-bottom: 8px;
                color: #5e6266;
            }
        }
    }
}
