.TagSearchTip {
    margin: 8px 0;
}

.tagManageTable {
    .ant-table-row {
        > td {
            border-bottom: 1px dashed #e6e8ed !important;
        }
    }
}

.ManageWrap {
    height: 100%;
    > main {
        flex-grow: 1;
        flex-shrink: 1;
        height: 10px;
    }
}
