.YellowColor {
    color: #eb5d0e;
    text-indent: 0;
    padding-top: 3px;
    cursor: pointer;
    padding-left: 5px;
}

.titleRight {
    float: right;
}

.titleRight .anticon-form {
    font-size: 14px;
    padding-right: 9px;
}

.RedColor {
    color: #ff9096;
    padding-right: 8px;
    font-size: inherit;
    padding-top: 3px;
    cursor: pointer;
    text-indent: 5px;
}

.RedColor.anticon-close-circle:hover {
    color: #ff4d4c;
}

.YellowColor:hover {
    color: #ff7a3f;
}
.spanfloat{
    float: right;
}
.panelcont_margin {
    // .graph-container {
    //     overflow: auto;
    // }
}

.spanfloat .anticon-plus-circle:before {
    content: "\E627";
}
.spanfloat .anticon-minus-circle:before {
    content: "\E624";
}
.spanfloat  .anticon-close-circle:before {
    content: "\E633";
}
.spanfloat  .anticon-form:before {
    content: "\E692";
}
// .graph-container-html-Elements div[style*='background-color:#152750'] .spanfloat i{
//     color: #fff !important
// }
.graph-container-html-Elements div[style*='background-color:#e8f1fd'] a{
    color:#152650
}
.graph-container-html-Elements div[style*='background-color:#e8f1fd'] a{
    color:#152650
}
.graph-container-html-Elements div[style*='background-color:#efb126'] a{
    color: #fff
}
.graph-container-html-Elements div[style*='background-color:#efb126']  .spanfloat i{
    color: #fff !important
}
