.model_attribute {
  .ant-table-footer {
    background-color: white !important;
    border-bottom: 1px solid #E6E8ED;
  }
}


.metaModelDetailDrawer {
  .titleArea {
    .titleValue {
      font-size: 18px;
      font-family: PingFangSC-Semibold, PingFang SC;
      font-weight: 600;
    }

    .description {
      color: #5E6266;
      margin-top: 8px;
    }
  }

  .ant-form-item-label {
    width: 120px;
  }

  .ant-form-item-control-input-content {
    white-space: break-spaces;
  }

  .tagArea {
    span {
      display: inline-block;
      padding: 1px 8px;
      background: #F0F2F5;
      border-radius: 2px;
      border: 1px solid #E6E8ED;
      margin: 0 4px 4px 0;
    }
  }

  
}

.detailTag{
  padding: 0px 4px;
  font-size: 12px;
  color: #FFFFFF;
  border-radius: 2px;
  position: relative;
  top: -1px;
}

.customTag{
  background-color: #FF9900;
}
.insideTag{
  background-color: #8195AA;
}