.dataMaskPreviewModal {
    .ant-modal-header {
        border: none;
        padding-bottom: 0px;
        .ant-modal-title {
            font-size: 18px;
            font-weight: 400 !important;
        }
    }
    .ant-modal-body {
        padding-top: 16px;
        max-height: 500px;
        overflow-y: auto;
    }
    .previewItem {
        color: #5E6266;
        line-height: 1.5;
        .LbOrder{
            width: 50px;
            text-align: left;
        }
        span {
            color: #2D3033;
            display: inline-block;
            margin-left: 0;
        }
    }
}