.postForm {
    .ant-form-item .ant-form-item-label > label {
        color: #606366;
    }
}
.logDrawer {
    .ant-alert-with-description {
        padding: 8px 16px 8px 37px;
        .ant-alert-icon {
            top: 12px;
            left: 16px;
        }
    }
    .ant-form-item-label {
        margin-right: 16px;
    }
    .logArea {
        margin-top: 16px;
        .logItem {
            padding: 8px 16px;
            box-shadow: 0px 1px 0px 0px #E6E8ED;
            display: flex;
            .logContent {
                line-height: 22px;
            }
        }
    }
}
.autoManageCheck {
    .TableLayout main {
        padding-top: 3px;
    }
}
.checkDrawer {
    .ant-drawer-body > main {
        padding: 0px !important;
    }
    .RichTableLayout_SearchGroup {
        display: none;
    }
    .dangerBtn {
        border: 1px solid #F54F4A;
        color: #F54F4A;
    }
    .dangerBtn:hover {
        color: #F54F4A;
    }
    .dangerLink {
        color: #F54F4A;
    }
    a[disabled] {
        color: rgba(0, 0, 0, 0.25);
    }
    .standardCheck {
        padding: 0px 24px 45px 0px;
        .tagItem {
            height: 28px;
            line-height: 26px;
            background: #F7F8FA;
            border-radius: 2px;
            border: 1px solid #C0C6CC;
            padding: 0px 12px;
            display: inline-block;
            margin-bottom: 4px;
            cursor: pointer;
            text-align: center;
            margin-right: 4px;
            color: #5E6266;
        }
        .tagItem:hover {
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
        }

        .selectedTagItem {
            color: #4d73ff;
            background: rgba(77, 115, 255, 0.1);
            border-radius: 2px;
            border: 1px solid #4D73FF;
        }

    }
    .ant-tabs {
        margin: 0px 24px 16px 24px;
    }
    .checkSpin {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        z-index: 9;
        .ant-spin {
            width: 100%;
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(2px);
            height: 100%;
            z-index: 99;
            .ant-spin-dot {
                margin-top: 45vh;
            }
            .ant-spin-text {
                color: #2D3033;
            }
        }
    }
    .OverView {
        display: inline-block;
        width: calc(~"100% - 52px");
        margin: 16px 24px;
        .OverViewTitle {
            font-size: 20px;
            font-weight: 500;
            color: #262626;
            margin-bottom: 8px;
        }
        .MiniForm {
            .HControlGroup > *:not(:last-child) {
                margin-right: 24px;
            }
            .detailInfo {
                color: #2D3033;
                > label {
                    color: #9ea3a8;
                    display: inline-block;
                    margin-right: 8px;

                }
            }
        }
    }
}
.nameRuleDrawer {
    .prefixArea {
        .ant-select {
            margin-bottom: 8px;
        }
        .link {
            margin: 0 4px;
            display: inline-block;
            vertical-align: sub;
        }
        .btnArea {
            display: inline-block;
            margin-left: 16px;
            span {
                border: 1px solid #4D73FF;
                color: #4D73FF;
                cursor: pointer;
                border-radius: 50%;
                width: 14px;
                height: 14px;
                line-height: 10px;
                text-align: center;
                display: inline-block;
            }
            .disableBtn {
                border-color: #C4C8CC;
                color: #C4C8CC;
                cursor: not-allowed;
            }
        }
    }

}
.postForm {
    .ant-form-item .ant-form-item-label > label {
        color: #606366;
    }
}

.securityWrap{
    p {
        margin: 0;
    }
    .tagItem {
        height: 22px;
        line-height: 20px;
        background: #F7F8FA;
        border-radius: 2px;
        border: 1px solid #C0C6CC;
        padding: 0px 8px;
        display: inline-block;
        margin-bottom: 4px;
        cursor: pointer;
        text-align: center;
        margin-right: 4px;
        color: #5E6266;
    }
    .tagItem:hover {
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    }

    .selectedTagItem {
        color: #4d73ff;
        background: rgba(77, 115, 255, 0.1);
        border-radius: 2px;
        border: 1px solid #4D73FF;
    }
    .securityWrapItemTitle{
        margin-bottom: 10px;
    }
}