.TextMoreWrap {
    position: relative;
    .TextMoreControl {
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        padding: 0 10px;
    }

    &.TextMoreWrapVisibleAll {
        .TextMoreControl {
            //position: static;
        }
    }
}
