.resetPassword {
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 0 40px;

    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 480px;

    > header {
        font-size: 24px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #2d3033;
        padding: 32px 0;
        text-align: center;
    }

    .ErrorMsg {
        margin-bottom: 16px;
    }

    .ControlGroup {
        display: flex;
        justify-content: space-between;
        > * {
            height: 44px;
            border-radius: 4px;
            font-size: 16px;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }

    .ant-form-item {
        margin-bottom: 16px;
        .ant-form-explain {
            margin-top: 3px;
        }
    }
}
