.addNewCol{
    .aggregation{
        padding: 17px 32px 0 32px;
    }
}
.timeMenuContainer {
    width: 120px;
    .ant-dropdown-menu-item {
        font-size: 12px;
    }
    .ant-dropdown-menu-submenu-title {
        font-size: 12px;
    }
}