.Label {
    font-size: 12px;
    font-weight: 400;
    color: #5e6266;
}

.ImportantText {
    font-size: 12px;
    font-weight: 500;
    color: #2d3033;
}

.LargeImportantText {
    font-size: 24px;
    font-weight: 500;
    color: #262626;
}

.ChartWrap {
    padding: 16px;
    height: 330px;
    > *:not(:last-child) {
        margin-bottom: 24px;
    }
    > header {
        display: flex;
    }
}
