.PermissionDetail {
    .TabContent {
        border-radius: 2px;
        border: 1px solid #e6e8ed;
        overflow: auto;
        .Header {
            background: #f7f8fa;
            padding: 12px 17px;
        }

        > main {
            padding: 9px 17px;

            .PermissionContentUnSelected {
                .NodeIcon {
                    opacity: 0.5;
                }
            }

            .PermissionContentRoot {
                .PermissionNodeTitle {
                    font-weight: bold;
                }
            }
        }
    }
}
