.dataDictionary {
    margin: -15px;
    .tableInfo {
        padding: 16px 20px 20px 16px;
        margin-top: 16px;
        background: #fff;
        .ModuleTitle {
            margin-bottom: 16px;
            display: inline-block;
        }
        .updateTime{
            color: #9ea3a8;
            font-size: 12px;
            margin-left: 15px;
        }
        .titleBtn {
            margin-left: 24px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
        }
        .scrollBtn {
            float: right;
            span {
                cursor: pointer;
            }
        }
        .statics {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            column-gap: 40px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-x: auto;
            div {
                white-space: nowrap;
                display: flex;
                align-items: center;
            }
            .label {
                color: #5E6266;
                margin: 0 12px 0 8px;
            }
            .value {
                font-size: 20px;
                font-family: DINAlternate-Bold, DINAlternate;
                font-weight: bold;
                color: #1A1A1A;
            }
            .iconfont {
                color: #4c79fc;
                font-size: 20px;
            }
        }
    }
    .sliderLayout {
        display: flex;
        height: 100%;
        .slider {
            z-index: 9;
            width: 240px;
            flex-grow: 0;
            flex-shrink: 0;
            box-shadow: 1px 0px 0px 0px #D0D5DE;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            position: relative;
            .leftHeader {
                height: 48px;
                padding: 13px 16px;
                background: #F7F8FA;
                box-shadow: inset 0px -1px 0px 0px #D0D5DE;
                .headerTitle {
                    color: #262626;
                    .anticon {
                        color: #5E6266;
                        font-size: 14px;
                        float: right;
                        cursor: pointer;
                    }
                }
                .iconfont {
                    color: #5E6266;
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                    display: inline-block;
                    text-align: center;
                    line-height: 24px;
                }
                .icon-sousuo {
                    margin-right: 4px;
                    position: absolute;
                    top: 12px;
                    right: 46px;
                }
                .icon-Filter {
                    position: absolute;
                    top: 12px;
                    right: 16px;
                    &:hover {
                        background: #EFF0F2;
                        border-radius: 2px;
                    }
                }
            }
            .leftFooter {
                padding: 8px 16px;
                box-shadow: inset 0px 1px 0px 0px #D0D5DE;
            }
            .tableArea {
                padding: 12px 16px;
                line-height: 23px;
                height: calc(~"100vh - 101px");
                background: #fff;
                .tableItem {
                    padding: 8px 12px;
                    cursor: pointer;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow-x: hidden;
                    border-radius: 4px;
                    border: 1px solid #E6E8ED;
                    margin-bottom: 8px;
                    position: relative;
                    &:hover {
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                        border-radius: 4px;
                        border: 1px solid #4471F3;
                        .icon-more {
                            visibility: visible;
                        }
                    }
                    .triangle {
                        width: 0;
                        height: 0;
                        border-left: 8px solid transparent;
                        border-right: 0px solid transparent;
                        border-top: 8px solid #4471F3;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        transform: rotate(270deg);
                    }
                    .greyTriangle {
                        border-top: 6px solid #E6E8ED;
                    }
                    .treeName {
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-bottom: 16px;
                    }
                    .progressArea {
                        margin-bottom: 4px;
                        height: 20px;
                        span {
                            font-size: 12px;
                        }
                        .cIcon {
                            margin-right: 8px;
                            color: #fff;
                            font-size: 8px;
                            font-family: PingFangSC-Semibold, PingFang SC;
                            font-weight: 600;
                            background: #4081FF;
                            border-radius: 2px;
                            display: inline-block;
                            width: 18px;
                            height: 14px;
                            line-height: 14px;
                            text-align: center;
                            transform: scale(0.9);
                        }
                        .pkIcon {
                            background: #42D0D5;
                        }
                        .gIcon {
                            background: #ED8D31;
                        }
                    }
                    .treeCount {
                        float: right;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        font-size: 12px;
                        position: relative;
                        .statusDot {
                            background: #F54B45;
                            position: absolute;
                            top: 5px;
                            right: -14px;
                        }
                    }
                    .icon-more {
                        float: right;
                        width: 24px;
                        height: 20px;
                        border-radius: 1px;
                        color: #5E6266;
                        display: inline-block;
                        text-align: center;
                        visibility: hidden;
                        &:hover {
                            background: #EFF0F2;
                        }
                    }
                    .ant-progress {
                        width: 110px;
                        height: 2px;
                        margin-right: 6px;
                        vertical-align: middle;
                        .ant-progress-inner {
                            background: #E7F3FF;
                            border-radius: 2px;
                            height: 2px;
                            vertical-align: top;
                            .ant-progress-bg {
                                border-radius: 2px;
                                height: 2px !important;
                                background: #4081FF;
                            }
                        }
                    }
                }
                .tableItemSelected {
                    background: rgba(68, 113, 243, 0.08);
                    border-radius: 4px;
                    border: 1px solid #4471F3;
                    /* font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500; */
                }
                .tableItemFailed {
                    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(245, 75, 69, 0.1) 100%);
                    &:hover {
                        border: 1px solid #CC0000;
                    }
                }
                .tableItemFailedSelected {
                    border: 1px solid #CC0000;
                }
                .searchGroup {
                    position: relative;
                    margin-bottom: 12px;
                    .icon-sousuo {
                        position: absolute;
                        z-index: 9;
                        top: 4px;
                        left: 10px;
                        color: #5E6266;
                    }
                    .ant-input-search {
                        width: 168px;
                        .ant-input-group-addon {
                            display: none;
                        }
                        .ant-input-affix-wrapper {
                            padding-left: 32px;
                            border-radius: 2px;
                        }
                    }
                    .ant-cascader-input {
                        width: 208px;
                        padding-left: 11px;
                    }
                    .showFilter {
                        .icon-Filter {
                            background: #FFFFFF;
                            border: 1px solid #4471F3;
                            color: #4E78F3;
                        }
                    }
                    .icon-Filter {
                        width: 32px;
                        height: 32px;
                        background: #F7F8FA;
                        border-radius: 2px;
                        border: 1px solid #C0C6CC;
                        color: #5E6266;
                        text-align: center;
                        line-height: 32px;
                        display: inline-block;
                        vertical-align: bottom;
                        margin-left: 8px;
                        cursor: pointer;
                        &:hover {
                            background: #FFFFFF;
                            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
                        }
                    }
                    .filterIcon {
                        position: relative;
                        .statusDot {
                            background: #F54B45;
                            position: absolute;
                            top: 0px;
                            right: 0px;
                        }
                    }
                    .ant-cascader-menus {
                        .ant-cascader-menu {
                            width: 124px;
                        }
                    }
                }
            }
        }
        > main {
            flex-grow: 1;
            flex-shrink: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            width: 10px;
        }
        .ContentContainer {
            flex-grow: 1;
            flex-shrink: 1;
            overflow: auto;
            height: 10px;
            background: #F7F8FA;
            .contentHeader {
                height: 64px;
                padding: 0px 16px;
                line-height: 64px;
                .tableName {
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: #2D3033;
                    font-size: 22px;
                    width: calc(~"100% - 600px");
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .headerTab {
                    float: right;
                    span {
                        color: #262626;
                    }
                    .ant-switch {
                        margin-left: 8px;
                    }
                }
            }
            .tableContent {
                height: calc(~"100vh - 138px");
                padding: 0 16px 20px 16px;
            }
            .detailHeader {
                height: 106px;
                box-shadow: 0px 1px 0px 0px #E6E8ED;
                padding: 24px;
                display: flex;
                .diffItemContent {
                    .diffItem {
                        background: #FFECEC;
                        box-shadow: 1px 0px 0px 0px #E6E8ED;
                        border-radius: 2px;
                        padding: 4px;
                    }
                }
                .iconHead {
                    width: 48px;
                    height: 48px;
                    background: #FF9900;
                    border-radius: 50%;
                    margin-right: 20px;
                    line-height: 48px;
                    text-align: center;
                    color: #fff;
                    font-size: 12px;
                }
                .detailTitle {
                    font-size: 20px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color: #2D3033;
                    margin-bottom: 8px;
                }
                .detailContent {
                    display: flex;
                    .label {
                        color: #9EA3A8;
                        margin-right: 12px;
                    }
                    .collapseLabel {
                        display: inline-block;
                        max-width: 300px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        vertical-align: bottom;
                    }
                    > div:not(:last-child) {
                        margin-right: 60px;
                    }
                }
            }
            .TableLayout {
                margin: 1px;
                .typeTag {
                    height: 14px;
                    width: 22px;
                    line-height: 12px;
                    text-align: center;
                    background: rgba(40, 174, 82, 0.1);
                    box-shadow: 1px 0px 0px 0px #E6E8ED;
                    border-radius: 7px;
                    border: 1px solid rgba(46, 176, 86, 0.6);
                    font-size: 10px;
                    color: #28AE52;
                    text-shadow: 1px 0px 0px #E6E8ED;
                    margin-right: 8px;
                    margin-top: 4px;
                }
                .updateTag {
                    background: rgba(255, 153, 0, 0.1);
                    border: 1px solid rgba(255, 153, 0, 0.6);
                    color: #FF9900;
                }
                .deleteTag {
                    background: rgba(255, 77, 79, 0.1);
                    border: 1px solid rgba(255, 77, 79, 0.6);
                    color: #FF4D4F;
                }
                .remainTag {
                    color: #3A9DFF;
                    border: 1px solid rgba(58, 157, 255, 0.6);
                    background: rgba(58, 157, 255, 0.1);
                }
            }
        }
        &.sliderLayoutFoled {
            .slider {
                width: 14px;
                pointer-events: none;
            }
        }
    }
}
.indexmaPopover {
    div {
        color: #5E6266
    }
    .labelItem {
        color: #2D3033;
        span {
            margin-right: 12px;
            color: #fff;
            font-size: 8px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            background: #4081FF;
            border-radius: 2px;
            display: inline-block;
            width: 18px;
            height: 14px;
            line-height: 14px;
            text-align: center;
            transform: scale(0.9);
        }
        .pkIcon {
            background: #42D0D5;
        }
        .gIcon {
            background: #ED8D31;
        }
    }
}
.dataDicDetail {
    margin: 0px;
    padding-bottom: 60px;
    .highlight {
        color: #CC0000;
    }
    .TableLayoutHeader {
        position: relative;
    }
    .TableLayout > main {
        padding: 0px;
        background: transparent;
    }
    .statics {
        grid-template-columns: repeat(6, 1fr) !important;
    }
    .EditMiniForm .ant-form-item {
        .ant-form-item-label {
            //width: 80px;
            margin-right: 20px;
        }
        .ant-form-item-control {
            display: inline-block;
            width: 50%;
            .StatusLabel {
                position: absolute;
                right: -150px;
                top: 5px;
            }
        }
    }
    .configAlert {
        margin-bottom: 16px;
        background: #EDF1FF;
        a {
            margin-left: 8px;
            .iconfont {
                font-size: 8px;
            }
        }
        .ant-alert-icon {
            color: #4D73FF;
        }
    }
    .iconInput {
        position: relative;
        .anticon {
            position: absolute;
            z-index: 10;
            top: 9px;
            left: 10px;
        }
        .ant-input {
            padding-left: 24px;
        }
    }
    .errorInput {
        .ant-input {
            border-left: 2px solid #F54B45;
        }
    }
    .successInput {
        .ant-input {
            border-left: 2px solid #28AE52;
        }
    }
    .enameInput {
        position: relative;
        .ename {
            position: absolute;
            top: 4px;
            left: 10px;
            z-index: 9;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 90%;
        }
    }
}
.addDdRootDrawer {
    .highlight {
        color: #CC0000;
    }
}