.valutareConfigForm {
    .ant-checkbox-wrapper {
        width: 100% !important;
        margin-left: 0;
        margin-bottom: 24px;
    }

    .ant-radio-group {
        width: 100%;
        background: #F7F8FA;
        padding: 0 24px 12px 16px;
        margin-top: 12px;
    }

    .ant-radio-wrapper {
        width: 100% !important;
        margin-top: 12px;
    }

    .has-error .ant-input-number {
        border-color: #c0c6cc;
    }

    .ant-legacy-form-item-required::before {
        content: none;
    }

    .require_icon {
        font-family: SimSun, sans-serif;
        color: #ff4d4f;
        font-size: 14px;
        margin-left: 4px;
        margin-top: 4px;
    }

    .ant-checkbox+span {
        padding-right: 0px;
    }


}