.taskPermission {
    .reset_btn {
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #4D73FF;
        cursor: pointer;
    }

    .icon-xinxitishi {
        font-size: 18px;
        margin-top: -8px;
    }

    .icon-shuaxin1 {
        margin-right: 4px;
    }

    .ant-tree-switcher {
        display: none !important;
    }

    .taskPermission_wrap {
        padding: 5px;
        height: 100%;
        overflow: auto;
    }

}