
.App {
  padding: 20px;
  padding-top:0px;
  //margin-top: 90px;
  background: #fff;
  height: 500px;
  overflow-y: auto;

}
.App .ant-tree li span.ant-tree-switcher,.App  .ant-tree li span.ant-tree-iconEle{
    width: 17px;
    margin-right: -5px;
}
.App .mg10{
    margin: 0 0 0 5px;
}
.App .ant-tree li{
    padding: 0px;
    font-size: 12px;
}
.App .ant-tree li .ant-tree-node-content-wrapper {
    height: 30px;
    line-height: 26px;
}
.App ul.ant-tree{
     overflow: hidden;
     margin-top: 20px;
}
.test .ant-tree-node-content-wrapper:hover {
  background: transparent!important;
}
.test .ant-tree-child-tree .ant-tree-title{
  width: auto!important;
}
.mg10{
  margin: 0 0 0 10px ;
}

.expand-edit{
    margin-left: 7px;
  display: none;
}
.expand-wrapper{
  &:hover .expand-edit{
    display: inline-block;
  }
}
.expandIcon{
  margin: 0 5px;
  &:hover{
    color: #40a9ff;
  }
}
.expand-overview-show{
  display: inline-block;
}
.expand-overview-off{
  display: none;
}
.indexmaGeneralTree{
  .App{
        MARGIN: 15PX;
        padding: 0px 20px;
    background: #f5f5F5;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}
