.collapseLabel {
    .moreBtn {
        color: #4D73FF;
        cursor: pointer;
    }
    .collapseValue {
        display: inline-block;
        word-break: break-all;
        max-width: calc(~"100% - 50px");
    }
    .collapse {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}