@font-face {
  font-family: 'iconfont'; /* Project id 4457794 */
  src: url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
