.expandTable {
    .hideExpandTable {
        .ant-table-expanded-row {
            display: none;
        }
    }
    .ant-table-row-level-1 {
        .subInput {
            padding-left: 32px;
        }
    }
    .ant-table-row-expand-icon-cell {
        vertical-align: top;
        padding-right: 0px;
    }
    .expandIcon {
        cursor: pointer;
        position: absolute;
        top: 12px;
        left: 20px;
        z-index: 9;
    }
}