.lzChartRelation{
  height: 100%;
  .diagramComponent {
    width: 100%;
    height: 100%;
    // width: 100%;
    // height: 480px;
    // border: solid 1px #CECECE;
    // background-color: #f2f2f2;

    // 去除画布的蓝色默认border
    canvas{
      border:0px;
      outline:none;
    }
  }

  // .help-msg{
  //   float: right;
  //   z-index: 999;
  //   bottom: 110px;
  //   right: 10px;
  //   position: absolute;
  //   // width:86px;
  //   // height:130px;
  //   background:rgba(255,255,255,1);
  //   border:1px solid rgba(206,206,206,1);
  //   padding: 8px;
  // }

  // .padding-row{
  //   padding-top: 10px;
  // }
  .padding-col{
    padding-left: 8px;
  }
  .node-tooltip{
    padding:8px;
//     width:184px;
    // height:106px;
    background:rgba(0,0,0,0.5);
    border-radius:4px;
    // width:154px;
    // height:88px;
    font-size:14px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    // line-height:22px;

    .field-name{
      display: block;
      width: 66px;
      float: left;
    }
  }

  .ant-btn-sm{
    padding:0px
  }

  .overviewComponent{
    // position: fixed;
    // width: 120px;
    // height: 84px;
    // bottom: 10px;
    // right: 10px;
    // background-color: #fff;
    // z-index: 300;
    // border: solid 1px #7986cb;
    position: absolute;
    width: 200px;
    height: 100px;
    top: 10px;
    left: 10px;
    background-color: #f2f2f2;
    z-index: 300;
    border: solid 1px #7986cb;
  }
}
.searchItem{
  .ant-input{
    border: 0px;
  }
}
