.standardMapList {
    display: flex;
    background: #ffffff;
    height: 100%;

    .TreeGroup {
        width: 220px;
        border-right: 1px solid #e6e8ed;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .RichTableLayout {
        > main {
            padding: 0;
        }
    }
}
