.smartAdd_column {
    .BaseInfo {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 40px;
        .ant-tag {
            background: #F0F2F5;
            border-radius: 2px;
            border: none;
            font-size: 14px;
            color: #2D3033;
            padding: 1px 8px;
            margin-left: 4px;
            margin-bottom: 4px;
        }
        .anticon {
            font-size: 24px;
        }
    }
}
