.anticon-close-circle {
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
    font-size: 12px;
}

.anticon-close-circle:hover {
    color: #999;
}

.anticon-close-circle:active {
    color: #666;
}

.anticon-search {
    cursor: pointer;
}

.inputCloseSearch {
    position: relative;
    margin-top: 4px;
    height: 25px;
    width: 88%;

    .ant-input-affix-wrapper{

        input {
            height: 25px;
            border: 1px solid #096dd9;
        }
        .ant-input-suffix{
            right: 30px;
        }
    }

    i.anticon-search {
        color: #096dd9;
        border-left: 1px solid #096dd9;
        font-size: 14px;
        top: -2px;
        right: -26px;
        height: 30px;
        position: absolute;
        right: 0;
        padding: 7px;
        z-index: 8;
        height: 25px;
        
    }
    i.anticon-reload {
        color: #096dd9;
        position: absolute;
        border-left: 0;
        padding: 7px;
        font-size: 12px;
        z-index: 8;
        height: 25px;
    }
}
