.permisstionTable {
  .ant-table-thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .ant-table-tbody>tr>td>span:empty::after {
    content: none !important;
  }

  .icon-arrow {
    font-size: 20px;
    position: relative;
    top: 2px;
    color: #5E6266;
  }
}