.codeItemModal {
    font-family: PingFangSC-Regular, PingFang SC;
    .line {
        height: 310px;
        background: #d3d3d3;
        width: 1px;
        margin-top: 30px;
    }
    .codeItemArea {
        border-radius: 4px;
        border: 1px solid #c0c6cc;
        height: 310px;
        .tip {
            height: 100%;
            line-height: 300px;
            text-align: center;
            font-size: 12px;
            color: #333;
        }
        .ant-select-selection {
            height: 28px;
            overflow: auto;
        }
        .codeItem {
            background-color: #f4f5f7;
            border-radius: 2px;
            border: 1px solid #f4f5f7;
            padding: 0px 8px;
            height: 28px;
            line-height: 28px;
            font-size: 14px;
            color: #333;
            margin-top: 12px;
            cursor: pointer;
            position: relative;
            .codeItemPath {
                float: right;
                span {
                    display: inline-block;
                    width: 60px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .codeItemName {
                display: inline-block;
                width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .IconCheckWrap {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 12px;
                width: 0;
                height: 0;
                border: 8px solid #4d73ff;
                border-left-color: transparent;
                border-bottom-color: transparent;
                .IconCheck {
                    position: absolute;
                    top: -9px;
                    right: -9px;
                    color: white;
                    font-size: 12px;
                    transform: scale(0.6);
                }
            }
        }
    }
    .codeItemTitle {
        font-size: 14px;
        color: #333333;
        margin-bottom: 8px;
        font-weight: bold;
    }

    .CodePreviewGroup {
        background-color: #f7f8fa;
        padding: 0;

        .CodePreviewFirst {
            border-bottom: 1px solid #e6e8ed;
            padding: 9px;
            height: unset;
            line-height: 1;
            color: #9ea3a8;
        }
        .CodePreviewItem {
            margin: 0;
            border-bottom: 1px solid #e6e8ed;
            padding: 9px;
            height: unset;
            line-height: 1;
            background-color: transparent;
        }
    }
}

.FilterContainer {
    padding: 15px;
    background: #ffffff;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    border: 1px solid #e6e8ed;
}
