.autoComplete_column {
    .ant-col {
        margin-bottom: 16px;
    }
    .columnTagContent {
        position: relative;
        white-space: inherit !important;
    }
    .tagItemContent {
        display: inline-block;
        overflow-x: hidden;
        vertical-align: middle;
        position: relative;
        padding-right: 35px;
    }
    .ant-col {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .saveBtn {
        position: fixed;
        height: 52px;
        background: #fff;
        z-index: 99;
        bottom: 0px;
        left: 250px;
        text-align: center;
        padding-top: 10px;
        width: calc(~"100vw - 250px");
        box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.1);
    }
    .ant-tag {
        cursor: pointer;
    }
    .editable-cell-value-wrap {
        padding: 5px 12px;
        height:28px;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .editable-row:hover .editable-cell-value-wrap {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        padding: 4px 11px;
    }
    .ant-drawer-body {
        padding-right: 0px;
    }
}