.ant-table {
    font-family: PingFangSC-Regular, PingFang SC;
}
.ant-btn {
    font-family: PingFangSC-Regular, PingFang SC;
}
//鼠标移入时显示滚动条
.HiddenScroll::-webkit-scrollbar {
    width: 3px;
    height: 1px;
}
.HiddenScroll::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: rgba(255,255,255, 1);
}
.HiddenScroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, .3);
    background:rgba(227, 227, 227, 0);
}
.HiddenScroll {
    overflow-y: auto;
}
.HiddenScroll:hover::-webkit-scrollbar-thumb{
    background:rgba(227, 227, 227, 1);
}

//common滚动条
.commonScroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.commonScroll::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: rgba(255,255,255, 1);
    display: none;
}
.commonScroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, .15);
    background:rgba(227, 227, 227, 1);
}
.commonScroll {
    overflow-y: auto;
}
//透明滚动条
.HideScroll::-webkit-scrollbar {
    width: 0px;
    height: 1px;
}
.HideScroll::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: transparent;
}
.HideScroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px transparent;
    background: transparent;
}
.HideScroll {
    overflow-y: auto;
}
.HideScroll:hover::-webkit-scrollbar-thumb{
    background: transparent;
}
.assetTab {
    padding: 0;
    .ant-tabs-bar {
        background: transparent;
        border-bottom: 1px solid #e8e8e8;
        height: auto;
        .ant-tabs-tab {
            padding-left: 0 !important;
            padding-right: 0px !important;
        }
    }
    .ant-tabs-nav-container {
        display: block !important;
        //height: 44px !important;
    }
}
.editIcon {
    width: 24px;
    height: 24px;
    color: #333;
    line-height: 27px !important;
    background: #e6f7ff;
    border-radius: 50%;
    margin-right: 4px;
    cursor: pointer;
}
.editImg {
    width: 24px;
    background: #e6f7ff;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 4px;
}

.commonTablePage {
    padding: 24px;
    .title {
        font-size: 16px;
        color: #333;
        font-weight: 600;
        text-align: left;
        i {
            margin-left: 9px;
        }
    }
    .emptyIconArea {
        border: 1px solid rgba(102, 102, 102, 0.2);
        height: calc(~"100vh - 210px");
        display: flex;
        align-items: center;
        justify-content: center;
        .iconContent {
            text-align: center;
        }
    }
    .searchArea {
        height: 30px;
        margin: 24px 0 16px 0;
        .ant-select-selection {
            height: 28px !important;
            .ant-select-selection__rendered {
                line-height: 28px !important;
            }
        }
        .ant-cascader-picker {
            vertical-align: bottom;
        }
        .ant-input {
            height: 28px;
            vertical-align: bottom;
        }
        .ant-input-search {
            height: 28px;
            vertical-align: bottom;
        }
        .searchBtn {
            padding: 0 7px;
            vertical-align: bottom;
        }
    }
    .dot {
        width: 8px;
        height: 8px;
        background: #B3B3B3;
        margin-right: 4px;
        display: inline-block;
        border-radius: 50%;
        margin-bottom: 1px;
    }
    .lastStatusSpan {
        img {
            width:14px;
            height: 14px;
            transform: translate(0px, -1px);
        }
        svg {
            width: 14px;
            height: 14px;
            transform: translate(0px, 1px);
        }
    }
    .emptyPng {
        margin-top: 140px;
        text-align: center;
        font-size: 14px;
        color: #333;
        img {
            margin-bottom: 20px;
        }
    }
    .tableType {
        margin: 16px 0;
        .tableTypeItem {
            width: 100%;
            height: 132px;
            padding: 0 32px;
            //cursor: pointer;
            box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.04);
            border-radius: 2px;
            border: 1px solid #F2F2F2;
            display: flex;
            .typeItem {
                flex-grow: 1;
                .total {
                    font-size: 34px;
                    color: #333;
                    margin-bottom: 6px;
                    margin-top: 32px;
                }
                .typeName {
                    font-size: 12px;
                    color: #777;
                }
            }
        }
        .tableTypeItemSelected {
            box-shadow: 0px 0px 8px 0px rgba(46, 138, 230, 0.8);
            border: 1px solid #2E8AE6;
            .typeName {
                color: var(--primaryColor) !important;
            }
        }
    }
    .pc-title {
        height: 0px;
    }
    .ant-tabs-tab {
        padding-left: 0px;
        padding-right: 0px;
    }
    .radioGroupButton {
        .ant-radio-group {
            float: right;
            .ant-radio-button-wrapper {
                border: none;
                padding-left: 0px;
                padding-right: 0px;
                outline: none;
                margin-right: 16px;
            }
            .ant-radio-button-wrapper-checked {
                border-bottom: 2px solid var(--primaryColor);
                border-radius: 0px;
                box-shadow: none;
            }
            .ant-radio-button-wrapper:last-child {
                margin-right: 0;
            }
            .ant-radio-button-wrapper:not(:first-child)::before {
                width: 0px;
            }
        }
    }
}
//.ant-table-column-title {
//    color: #333;
//}
//.ant-table td {
//    color: #333;
//}
//table .ant-table-thead > tr > th{
//    background: #eaf2ff !important;
//}
//.ant-table-content .ant-table-tbody > .ant-table-expanded-row:hover > td {
//    background: none !important;
//}
.commonModal {
    font-family: PingFangSC-Regular, PingFang SC;
    .ant-modal-body {
        padding: 24px 48px 0 48px !important;
    }
    .ant-modal-header {
        padding: 0px !important;
        .ant-modal-title {
            color: #333;
            font-size: 16px;
            height: 56px;
            line-height: 56px;
            padding: 0 24px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
        }
    }
    .ant-modal-content .ant-modal-close-x {
        height: 56px;
        width: 16px;
        line-height: 56px;
        margin-right: 24px;
    }
    .formLabelRight {
        text-align: right;
    }
    .ant-col {
        margin-bottom: 16px;
    }
    .ant-select-selection__rendered {
        font-size: 14px !important;
    }
    .ant-form-item-control-wrapper {
        margin-bottom: 0px;
    }
    .ant-modal-footer {
        padding: 12px 24px;
    }
}

.tableCellAlignRight {
    text-align: right;
}
.tableCellAlignCenter {
    text-align: center;
}
.highlight{
    color: red;
}
.ant-table-content .ant-table-tbody>tr>td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}