.FieldCellRead {
    display: inline-block;
    border-radius: 2px;
    overflow: hidden;
    .TableCell {
        border: 1px solid rgba(0, 0, 0, 0.05);
        background: rgba(242, 244, 247, 1);
        padding: 7px 8px;
        text-align: center;
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .FieldCell {
        border: 1px solid rgba(0, 0, 0, 0.05);
        background: white;
        padding: 7px 8px;
        text-align: center;
        max-width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
