.editTable{
    // padding: 0 144px;
    .ant-select, .ant-select-selection--single{
        min-width: 100px;
    }
    .ant-table-tbody td input{
        height: 28px;
    }
    .ant-form-item-control{
        line-height: 28px;
        height: 28px;
    }
    .ant-form-item-control-wrapper {
        width: 100% !important;
    }
    .ant-select-selection__rendered{
        line-height:28px;
    }
    .ant-select-selection--single{
        height: 28px;
    }
    .editSearch{
        padding-bottom: 10px;
        .ant-input-lg{
            height:32px;
            font-size: 12px;
        }
        button.ant-btn{
            height:32px;
            font-size: 12px;
        }
    }
    .leftRow{
        text-align: left;
    }
    .rightRow{
        text-align: right;
    }
    .centerRow{
        text-align: center;
    }
    .ant-table-thead{
        th{
            text-align: center;
        }
    }
    .ant-table-thead > tr > th{
        border-bottom: 2px #333333 solid;
    }
    table .ant-table-thead > tr > th {
        background: #FFFFFF!important;
    }
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td, .portaitcheck_padding .ant-table-tbody > tr > td{
        padding: 10px;
    }
}
.editable-cell-value-wrap {
    padding: 5px 12px;
    height:28px;
    cursor: pointer;
}
.hasError {
    border: 1px solid #F23F30;
    border-radius: 4px;
}
.editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}
.editable-row:hover .hasError {
    border: 1px solid #F23F30;
}

.menuContent {
    .menuTitle, .menuTitle1 {
        color: #333;
        cursor: pointer;
        span {
            color: #b3b3b3;
        }
    }
    .menuTitle:hover {
        color: #1890ff;
        span {
            color: #1890ff;
        }
    }
}