.otherInfo {
    display: flex;
    .otherInfoItem {
        margin-right: 8px;
        height: 18px;
        background: #c4c8cc;
        border-radius: 2px;
        line-height: 18px;
        text-align: center;
        color: #fff;
        cursor: pointer;
        font-size: 10px;
        padding: 0 4px;
        cursor: not-allowed;
    }
    .otherInfoItemSelected:hover {
        background: #5b7fa3;
        opacity: 0.8;
    }
    .otherInfoItemSelected {
        background: #5b7fa3;
    }
}
