.wrapper{
    padding: 0 10px 10px;
    margin-bottom: 20px;
    .topic{
        line-height: 35px;
    }
    .RelateCellRead{
        margin-bottom: 20px;
    }
}
.system{
    background: #FFFBF5;
    .colorChangeBlock {
        color: #F27900;
    }
}
.userAdd {
    background: #F9F9F9;
    .colorChangeBlock {
        color: var(--primaryColor);
    }
}
.default{
    background : #FFF5F5;
    .colorChangeBlock {
        color: #F23F30;
    }
}