.MenuEdit {
    :global {
        .ant-tree-switcher {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .ant-input {
            width: 200px;
        }
    }

    .HGroup {
        display: flex;
        align-items: center;
        > *:not(:last-child) {
            margin-right: 8px;
        }
    }

    .ReadOnlyTitle {
        padding: 4px 11px;
        border: 1px solid #eee;
        line-height: 1.5715;
        color: #999;
    }

    .ItemWrap {
        padding: 6px 10px;
    }
}
