.Page2 {
  padding: 20px;
  .TableWrap {
    width: 100%;
    overflow: auto;
  }
  .DraggerTh {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 10px;
      background: transparent;
      cursor: pointer;
    }
  }
  table {
    width: max-content !important;
  }

  .Table {
    th,
    td {
      border: 1px solid #aaa;
      width: 800px;
    }
  }
}
