.dataWareMap {
    .RichTableLayout_SearchGroup {
        display: none;
    }
}
.dataWareMapDrawer {
    .TableLayout main {
        padding: 0px;
    }
    .hoverSelect {
        .ant-select {
            .ant-select-selector {
                border: 1px solid transparent;
            }
            .ant-select-arrow {
                visibility: hidden;
            }
        }
    }
    .hoverSelect:hover {
        .ant-select {
            .ant-select-selector {
                border: 1px solid #c0c6cc;
            }
            .ant-select-arrow {
                visibility: visible;
            }
        }
    }
}