.newBottom{
    .ant-table{
        padding: 0px 20px
    }
    h3{
        border-bottom: 1px solid #ddd;
        line-height: 39px;
        text-indent: 20px;
        margin-bottom: 14px;
        font-size: 14px;
    }
        .newBottomBtn{
            padding-left: 20px;
            button{
                margin-right: 10px;
                margin-bottom: 10px;
                height: 28px;
                font-size: 12px;
            }

        }
        .newBusinessSearch{
            margin-bottom: 10px;
            padding-right: 20px;
            text-align: right;
            .ant-btn-primary{
                height: 28px;
                font-size: 12px;
                vertical-align: bottom;
            }
            .ant-input{
                width: 150px;
                margin-right: 10px;
                height: 28px;
                font-size: 12px;
                vertical-align: bottom;
            }
            .ant-select{
                .ant-select-selection{
                    height: 28px;
                }
                margin-right: 10px;
            }
        }
}
 .common_layout .ant-layout-content .newBTop{
     float: left;
     .ant-form label{
         font-size: 12px
     }
    padding: 0px 20px;
    .ant-form-item-control{
        .ant-form-item-children{
            input{
                height: 28px;
                font-size: 12px;
            }
        }
    }
    .ant-form-item{
        margin-right: 10px !important;

    }
}
.newBmin{
    div{
        height:400px;
    }
  height: 400px;


}
.newBSx{
    font-size: 12px;
    padding-top: 9px;
    .ant-select-selection--single{
        height: 28px;
    }
}
.newNoData{
    background: url(original.png) no-repeat;
    width: 200px;
        font-size: 14px;
        color: #999;
        background-size: 150px;
        height: 150px;
        margin: 0px auto;
        margin-top: 50px;
        padding-top: 86px;
}
.intellStep{
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  .step2Btn{
    margin-right: 15px;
  }
  .factTableText{
    padding: 10px 0px;
font-size: 12px;
span{
  padding-right: 15px;
  display: inline-block;
  b{
    font-weight: 400px;
    color: var(--primaryColor)
  }
}
  }
  .steps-content{
    padding-top:20px;

      button.ant-btn-primary{
        margin-right: 15px;
      }

    form{
      textarea{
            margin-bottom: 6px;
      }
    }

  }
}
.stepSearch{
      margin-bottom: 10px;
      text-align: right;
  .ant-input-affix-wrapper{
    width: 270px;
    input{  width: 250px;}

  }
  input{
    width: 300px;
    height: 28px;
    font-size: 12px;
margin-right: 10px;
  }
}
.step3Icon{
  position: absolute;
  span{
    .anticon-check-circle{
      color: #02d600 !important;
      font-size: 16px;
      padding-right: 5px;
      padding-left: 15px;
    }
    .anticon-close-circle{
      padding-left: 15px;
      font-size: 16px;
      padding-right: 5px;
    }
    .anticon-clock-circle{
      color: #ffc314;
      padding-left: 15px;
      font-size: 16px;
      padding-right: 5px;
    }
    .anticon-info-circle{
      color: #ffb300;
      font-size: 16px;
      padding-right: 5px;
    }
    display: inline-block;

    font-size: 12px;
  }
}
