.Measure{
    min-height: 240px;
    .filterTopic{
        height:40px;
        font-size:12px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(0,0,0,1);
        line-height: 20px;
        margin-bottom: 24px;
        padding: 0 32px;
    }
    .indexContent{
        height: 100px;
        padding: 0 32px;
        .ant-select-open .ant-select-selection {
            border-color: #d9d9d9;
            outline: 0;
            box-shadow: 0 0 0 0;
            border-right-width: 1px !important;
        }
    }
    .describe{
        margin-top: 8px;
        font-size:12px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(0,0,0,1);
        line-height:20px;
        padding: 0 32px;
        height:60px
    }
    .boardBottomBtn{
        padding: 10px 32px;
        text-align: right;
        background: transparent;
        border-top: 1px solid #e8e8e8;
    }
}