@activeColor: #4d73ff;

.MetaDataCenterPage {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    > header {
        height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        background: url('../../../resources/images/img-left.png') left bottom/contain no-repeat, url('../../../resources/images/img-right.png') right bottom/contain no-repeat,
            linear-gradient(270deg, #f7fbff 0%, #ecf2fe 29%, #d1e3fc 100%);

        .HeaderContent {
            display: flex;
            justify-content: center;
            align-items: stretch;

            .InputSearch {
                width: 655px;
            }
            .SelectTarget {
                width: 104px;
            }
        }

        .ant-select {
            width: 100px;
            flex-grow: 0;
            flex-shrink: 0;
            font-size: 14px;

            .ant-select-selector {
                border: 1px solid transparent !important;
                border-radius: 2px;
                border-right-color: #e6e8ed !important;
                &:hover {
                    box-shadow: none;
                }

                .ant-select-selection-item {
                    color: #2d3033 !important;
                }
            }

            .ant-select-arrow {
                margin-right: 8px;
            }

            .ant-select-selection-item {
                text-align: center;
            }

            &.ant-select-open,
            &.ant-select-focused {
                .ant-select-selector {
                    border: 1px solid @activeColor;
                    box-shadow: none !important;
                    .ant-select-selection-item {
                        color: @activeColor;
                    }
                }
            }
        }
        .ant-input-affix-wrapper-lg {
            font-size: 14px;
            border-color: transparent !important;
            border-radius: 0 !important;
            box-shadow: none !important;

            &:hover {
                border-color: transparent;
            }

            padding-left: 18px;
            .ant-input-prefix {
                margin-right: 10px;
            }

            .ant-input {
                font-size: 14px;
                &:focus:not(:disabled),
                &:hover:not(:disabled) {
                    box-shadow: none;
                }
            }
        }

        .ant-btn-group-lg {
            .ant-btn-icon-only.ant-btn-lg {
                width: 28px;
            }
            .ant-btn-lg {
                font-size: 14px;
            }

            .ant-btn {
                box-shadow: none;
            }

            > *:first-child:not(:last-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .ant-btn-primary + .ant-btn-primary {
                border-left-color: rgba(255, 255, 255, 0.1);
            }
        }
    }

    .MetaDataCenterBody {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
        > .Left {
            flex-grow: 0;
            flex-shrink: 0;
            width: 252px;
            overflow-y: auto;
            overflow-x: hidden;
            border-right: 1px solid #e6e8ed;
            padding: 15px 0;
            position: relative;

            .react-resizable-handle {
                position: absolute;
                width: 10px;
                height: 100%;
                bottom: 0;
                right: -5px;
                cursor: col-resize;
                z-index: 1;
                border-right: 1px solid #e0e0e0;
            }
        }
        > .Right {
            flex-grow: 1;
            flex-shrink: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .ParamContainer {
                flex-grow: 0;
                flex-shrink: 0;
                height: 56px;
                border-bottom: 1px solid #e6e8ed;
                padding: 0 40px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                overflow: auto;

                > * {
                    margin-right: 12px;
                    flex-grow: 0;
                    flex-shrink: 0;
                }

                .ant-select-selection-overflow {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex-wrap: nowrap;
                    word-break: keep-all;
                    white-space: nowrap;
                }

                .ConditionItem {
                    height: 32px;
                    border-radius: 2px;
                    border: 1px solid #e6e8ed;
                    color: #2d3033;
                }
            }
            > main {
                flex-grow: 1;
                flex-shrink: 1;
                overflow: auto;
                padding: 0 40px;
                padding-bottom: 60px;

                .Page {
                    margin-top: 16px;
                }
            }
        }
    }

    .ant-pagination {
        width: 100%;
        text-align: right;
        display: flex;
        .ant-pagination .ant-pagination-total-text {
            flex-grow: 1;
            flex-shrink: 1;
            text-align: left;
        }
    }

    .BtnReset {
        color: #5e6266;
        margin-left: 4px;
        &:hover {
            color: #4d73ff;
        }
    }
}

.CommonConditionWrap {
    width: 480px;

    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 1px solid #e6e8ed;

    > main {
        padding: 16px;
        height: 320px;
        overflow: auto;
    }

    > footer {
        padding: 9px 15px;
        color: #5e6266;
        border-top: 1px solid #e6e8ed;
        animation: footerShow 1 0.3s;
        transform-origin: top left;
        @keyframes footerShow {
            0% {
                transform: scaleY(0);
            }
            100% {
                transform: none;
            }
        }
    }

    .CommonConditionItem {
        margin-bottom: 24px;
        > h3 {
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            font-size: 14px;
            font-weight: 500;
            color: #262626;
            &::before {
                content: '';
                width: 4px;
                height: 14px;
                background: #4c79fc;
                border-radius: 2px;
                margin-right: 8px;
            }
        }
        > main {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 8px;
            column-gap: 8px;
            .CommonConditionValue {
                cursor: pointer;
                width: 100%;
                padding: 3px 16px;
                background: #ffffff;
                border-radius: 2px;
                border: 1px solid #e6e8ed;
                transition: all 0.3s;

                &.CommonConditionValueSelected {
                    background: #4d73ff;
                    border-color: #4d73ff;
                    color: #ffffff;
                }
            }
        }
    }
}
