// 设计主题色用于以后换肤类需求
@backgroundColor: #eee ;// 背景底色
@menuActiveColor: #1890ff; /*菜单选中颜色*/
@borderColor: #3333; // 下边框颜色
@contentColor: #FFF;//内容颜色
@tableWarpper: #9fc9f5; //表格hover颜色
@color1: #1e88e5; /*  文字蓝色*/
@color2: #253138; /*  BODY背景色*/
@color3: #344048; /*  顶部背景色*/
@color4: #c4d4dc; /*  字体颜色*/
@color5: #2f3e47; /*  内容背景色*/
@color6: rgba(255, 255, 255, 0.8); /*  card标题字体颜色*/
@color7:#354650;/*  select*/
@color8:transparent;/*  透明*/
@color9:#415663;/*  select-border*/
