.branch_tree_fristno{
    text-align: center;
        padding-top: 16px;

}
.branch_tree_fristno i.anticon.anticon-home{position: absolute;
    left: -65px;
    top: 23px;
    font-size: 13px;}
.branch_tree_fristno .branch_width_ico{
    width: 139px;
    background:#fff;
    border:1px solid #fff;
    color: #333;
    padding:5px;
    font-size: 13px;
    height: auto;
    display:inline-block;
    vertical-align:inherit;
    letter-spacing: 0px;
    word-break:normal;


}
.branch_width_ico{

    border: 1px solid #fff;
     border-radius: 3px;
      background: #d9e5ff;
      color: #455bb2;
      width:27px;
      text-align: center;
      line-height: 15px;
      padding-top: 2px;
      padding-bottom: 2px;
      display: table-cell;
      vertical-align: middle;
      height: 150px;
      line-height: 14px;
      letter-spacing: 1px;
      word-break: break-word;

}
.branch_tree_fristno button.ant-btn,.branch_tree_frist button.ant-btn{
  height:auto;    margin-top: 8px;
}
.branch_tree_fristno button.ant-btn:hover,.branch_tree_frist button.ant-btn:hover{
  background: #5f8cf5;
    color: #fff;
    text-decoration: none
}
