.permisstionTable {
  .ant-table-thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .indent-level-1 {
    padding-left: 20px !important;
  }

  .indent-level-2 {
    padding-left: 40px !important;
  }

  .indent-level-3 {
    padding-left: 60px !important;
  }

  .indent-level-4 {
    padding-left: 80px !important;
  }

  .indent-level-5 {
    padding-left: 100px !important;
  }

  .indent-level-6 {
    padding-left: 120px !important;
  }

  .indent-level-7 {
    padding-left: 140px !important;
  }

  .indent-level-8 {
    padding-left: 160px !important;
  }

  .indent-level-9 {
    padding-left: 200px !important;
  }

  .indent-level-10 {
    padding-left: 200px !important;
  }

  .ant-table-tbody>tr>td>span:empty::after {
    content: none !important;
  }

  .icon-arrow {
    font-size: 20px;
    position: relative;
    top: 2px;
  }
}