.codeCollection {
    @border:1px solid #e6e8ed;
    .ant-collapse {
        background: #f0f3fc;
        border-radius: 2px 2px 0px 0px;
        border: @border;
    }
    .ant-collapse-header {
        background: #F4F5F7;
        border-radius: 2px 2px 0px 0px;
        padding: 9px 16px !important;
    }
    .ant-collapse-content {
        border-top: @border;
        .ant-collapse-content-box {
            padding: 0;
            textarea {
                margin: 0;
                padding: 10px;
                border: none;
                resize: none;
            }
        }
    }
    .ant-collapse-arrow {
        font-size: 16px !important;
        vertical-align: middle !important;
    }

    .ant-collapse-item {
        border-bottom: none;
    }

    .spanStar {
        margin-right: 5px;
        color: #CC0000;
        vertical-align: sub;
    }
    .ant-form-item-explain {
        margin-top: 16px;
    }
    .HControlGroup {
        a {
            color: #5E6266;
        }
    }
    .HControlGroup > *:not(:last-child) {
        margin-right: 0px;
    }
}
