.BaseExtra {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    background: #ffffff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    border: 1px solid #e6e8ed;
    padding: 16px;

    > h5 {
        font-size: 14px;
        font-weight: 400;
        color: #5e6266;
    }
    .ant-radio-group {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        > *:not(:last-child) {
            margin-bottom: 8px;
        }
    }
    > *:not(:last-child) {
        margin-bottom: 12px;
    }
}
