.tableCompCss{
  width: 100%;
  height: 100%;
  .main-content-background {
      padding: 0 8px;
      margin-bottom: 35px;
      .pc-title {
          display: none;
      }
  }

  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 5px;
  }
  
  .react-resizable {
      position: relative;
    }
    
  .react-resizable-handle {
      position: absolute;
      width: 10px;
      height: 100%;
      bottom: 0;
      right: -5px;
      cursor: col-resize;
    }
}