.ant-modal-wrap {
    overflow: hidden !important;
}

.tagsSelect {
    .ant-select-arrow {
        display: none !important;
    }

}


.standardEdit_ruleList {
    overflow: hidden;



    .ruleItem {
        background: #F7F8FA;
        border-radius: 4px;
        padding: 0px 16px;
        margin-top: 8px;
        display: flex;
        line-height: 36px;

        .serial {
            background: #5B7FA3;
            border-radius: 2px;
            font-size: 12px;
            font-family: Helvetica;
            color: #FFFFFF;
            display: inline-block;
            width: 16px !important;
            height: 16px;
            // flex: 1;
            line-height: 16px;
            text-align: center;
            margin-top: 10px;
        }

        .desc {
            flex: 16;
            // width: 70%;
            margin-left: 16px;
            display: inline-block;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #2D3033;
            text-overflow: ellipsis;
            line-clamp: 1;
            overflow: hidden;
            word-break: keep-all;
            white-space: nowrap;

        }

        .edit {
            flex: 4;
            text-align: right;
        }
    }



    .add_btn {
        display: block;
        margin-top: 16px;
        font-size: 14px;
    }

    .ant-legacy-form-vertical .ant-legacy-form-item {
        padding-bottom: 0;
    }


}

.ruletype_desc {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #9EA3A8;
    line-height: 22px;
    margin-top: 4px;
}