.versionManage {
    .TableLayout main {
        padding: 20px 0;
    }
    .ant-tree li {
        border-left: 0px;
    }
    .selectedRowArea {
        float: right;
        margin-top: 4px;
        span {
            color: #9EA3A8;
        }
        .ant-tag {
            margin-right: 0px;
            background: #F0F2F5;
            border-radius: 2px;
            border: 0px;
            padding: 1px 8px;
            color: #2D3033;
        }
        .ant-tag-hidden {
            display: inline-block;
        }
    }
    .ant-table-column-title {
        .ant-checkbox-wrapper {
            display: none;
        }
    }
}
.versionCompareResult {
    height: 100%;
    .ant-tree li {
        border-left: 0px;
    }
    .tableResult {
        main {
            padding: 0px;
        }
        .compareTag {
            width: 32px;
            height: 20px;
            border-radius: 2px;
            display: inline-block;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            margin-right: 4px;
        }
        .ant-tabs {
            margin-bottom: 0px;
        }
    }
    .compareItems {
        padding: 16px 0;
        border-radius: 4px;
        border: 1px solid #E6E8ED;
        margin-bottom: 32px;
        position: relative;
        .Grid2 {
            column-gap: 0px;
        }
        .Grid2 > div {
            text-align: center;
            .titleName {
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #2D3033;
                font-size: 16px;
            }
            .versionName {
                color: #9EA3A8;
                margin: 4px 0 20px 0;
            }
            .systemName {
                color: #5B7FA3;
            }
        }
        img {
            position: absolute;
            top: 0px;
            left: calc(~"50% - 15px");
            height: 120px;
        }
    }
    .resultStatics {
        column-gap: 16px;
        row-gap: 16px;
        .staticsItem {
            border-radius: 4px;
            border: 1px solid #E6E8ED;
            padding: 20px;
            .staticsItemTitle {
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #1A1A1A;
                img {
                    width: 14px;
                    margin-right: 16px;
                }
            }
            .Grid3 {
                column-gap: 16px;
                margin-top: 24px;
                .titleName {
                    color: #9EA3A8;
                }
                .value {
                    font-family: DIN-Medium, DIN;
                    font-weight: 500;
                    color: #262626;
                    font-size: 20px;
                }
            }
            .emptyText {
                text-align: center;
                color: #9EA3A8;
                margin: 20px 0px;
            }
        }
    }
    .versionSelect {
        float: right;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #5E6266;
    }
    .newTag {
        width: 28px;
        height: 16px;
        background: linear-gradient(312deg, #FF5701 0%, #FF8402 100%);
        border-radius: 2px;
        display: inline-block;
        text-align: center;
        line-height: 16px;
        color: #fff;
        font-size: 10px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        margin-right: 8px;
    }
    .emptyIcon {
        background: #fff;
        font-size: 16px;
        color: #5E6266;
        text-align: center;
        padding: 80px 0;
        img {
            width: 150px;
            margin-bottom: 40px;
        }
        .titleName {
            font-size: 28px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color: #2D3033;
        }
    }
}
.versionSelectDropdown {
    .newTag {
        width: 28px;
        height: 16px;
        background: linear-gradient(312deg, #FF5701 0%, #FF8402 100%);
        border-radius: 2px;
        display: inline-block;
        text-align: center;
        line-height: 16px;
        color: #fff;
        font-size: 10px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        margin-right: 8px;
    }
}