.addSummaryAsset {
    .ant-form-item-label {
        text-align: left;
        label {
            color: #606366;
        }
    }
    .ant-form-item-control {
        width: 520px;
        max-width: 520px;
    }
}