:global {
  .SlateDoc2 {
    height: 100%;
    min-height: 500px;
    border: 1px solid #eee;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;

    > header {
      border-bottom: 1px solid #d0d5de;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
    }

    > main {
      width: 1200px;
      background-color: white;
      margin: 0 auto;
      flex-grow: 1;
      flex-shrink: 1;
      border: 1px solid red;
    }

    ol {
      list-style: disc;
    }
    ul {
      list-style: decimal;
    }
  }
}
