.tagItem {
    background: #f0f2f5;
    border-radius: 2px;
    padding: 2px 8px;
    display: inline-block;
    margin-bottom: 4px;
}

.selectedTagItem {
    color: #4d73ff;
    border-color: #4d73ff;
}
