.intelligent_home{
    position: relative;
    height: 100%;
    .ant-select-selection--single{
        height: 32px;
    }
    .rightTab {
        .tabContent{
            padding-top: 0;
        }
    }
}