@img: "../../../../resources/images";
.ant-tabs-bar {margin-bottom: 5px;}
.intelligent_home{
    //margin-top: 65px;
    // position: relative;
    z-index: 9;
    //border-top: 16px solid #e8ecf0;
    .ant-tabs-bar{
        margin-bottom:0;
    }
    .exam_container_right {
        margin-left: 0;
        margin-top: 0;
    }
    .top_filter button {
        height: 28px;
        font-size: 12px;
    }

    .sxRight .searchToolMain {
        .ant-form-item-label {
            line-height: 28px;
        }

        .ant-form-item-control {
            line-height: 28px;
        }

        .ant-form label {
            font-size: 12px;
        }

        input {
            height: 28px;
            font-size: 12px;
        }

        button {
            height: 28px;
            font-size: 12px;
        }
    }
    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
        height: 32px;
    }
    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
        border-radius: 0 0;
        background: #fff;
        font-size: 12px;
        line-height: 30px;
        border-top: 0;
    }
    .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
        background: #fff;
        border-color: #fff;
        border-top: none;
        color: var(--primaryColor);
        line-height: 30px;
        border-right: 1px solid #eee;
    }
    .ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th{
        padding: 5px 8px !important;
    }
    .ant-table-middle > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
        padding: 5px 8px;
    }
    .ant-table-middle > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td{
        padding: 5px 8px !important;
    }
}



.common_layout .intelligent_main {
    margin-top: 0;

    .ant-card-body {
        padding: 10px 32px;
    }

    .ant-collapse-header {
        padding: 12px 0 0 40px!important;
        width: 132px;
        display: inline-block;
        float: left;
    }

    .ant-collapse-content-box {
        padding-bottom: 0;

        .ant-list-item {
            padding: 5px 10px;
        }
    }
}

.intell_index_li {
    width: 100%;
    float: left;
}

.common_layout .intelligent_search {
    margin-top: 8px;
    position: relative;
    z-index: 9;
    margin-bottom: 14px;
}
.intelligent_search {
    background: #fff;
    /* padding: 20px; */
    margin-bottom: 15px;
    /* margin-top: -24px; */
    padding-left: 10%;
    padding-right: 10%;
    input {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: 0px;
        height: 43px;
        top: 1px;
        font-size: 16px;
        width: 85%;
    }
    button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 43px ;
        width: 15%;
        font-size: 16px;
        margin-left: -5px;
    }
}

.intellMore {
    font-size: 12px;
    line-height: 25px;
    text-align: right;
    margin-top: 5px;
    margin-right: 15%;
    margin-bottom: -20px;
}

body .ant-layout {
    box-shadow: none;
}

.resultMainBg {
    background: #fff;
}

.ant-layout-content .intelligent_index_top {
    margin-top: 5px;
    position: relative;
    width: auto;
    padding: 15px 10% 20px;
    margin: 0px auto;
    /* background: url(../images/bg-pc.jpg) no-repeat center right; */
    background-size: cover;
    min-height: 400px;
    border-radius: 3px;
    .intelligent_search_frist{
        .panelcont_margin{
            .text-center{
                position: relative;
                .ant-btn-primary{
                  position: absolute;
                  right: 0px;
                  background: transparent;
                  border: none;
                  color: #78828F;
                  &:hover{
                      color: var(--primaryColor);
                  }
                }
            }
        }
    }
    input {
        height: 43px !important;
        width: 100%;
        padding-right: 5%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        top: -1px
    }
    button {
        height: 43px !important;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        width:4%;
        font-size: 16px !important;
    }
    .panelcont_margin:first-child {
        padding: 0;
        background: transparent;
    }
    .slick-dots {
        bottom: -20px;

        li {
            button {
                color: white;
                background: #63a1ff;
                // height: 25px !important;
                width: 25px;
            }
        }
    }

    .intelligent_search_frist {
        .pc-title-left {
            display: none;
        }
        .intelligentHomeBusinessBtn button[ant-click-animating-without-extra-node]:after {
            border: 0 none;
            opacity: 0;
            animation:none 0 ease 0 1 normal;
        }
    }

    .panelcont_margin {
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        .pc-title {
            display: inherit;
            .pc-title-left {
                background: url("@{img}/tj.png") no-repeat;
                height: 28px;
                background-size: contain;
                padding-left: 30px;
                line-height: 27px;
                margin-left: -4px;
            }
        }
    }
    .panelcont_margin:first-child .pc-title .pc-title-left {
        background: none;
        height: 0;
    }
}

.radioStyle {
    display: block;
    height: 30px;
    line-height: 30px;
}

.intelligentSearchTab {
    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
        background:inherit;
        color: #4b90fe
    }
    min-height: 32px;
    position: relative;
    width: 85%;

    .ant-radio-button-wrapper-checked {
        box-shadow: none;
        font-weight: bold;
    }

    .ant-radio-button-wrapper:not(:first-child)::before {
        display: none;
    }

    .ant-radio-button-wrapper {
        background: transparent;
        border: none;
    }
}

.intell-ico,
.intell_index_ul li:first-child i,
.intell_index_ul li:nth-child(2) i,
.intell_index_ul li:nth-child(3) i {
    background: url("@{img}/bg-ranking.png") no-repeat;
    width: 18px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    display: block;
    font-style: normal;
    margin-right: 5px;
}

.intell-ico,
.intell_index_ul li.rightIco:first-child i,
.intell_index_ul li.rightIco:nth-child(2) i,
.intell_index_ul li.rightIco:nth-child(3) i {
    background-position: 0 -42px;
}

.intell_index_ul li:nth-child(2) i {
    background-position: 0 -14px;
}

.intell_index_ul li:nth-child(3) i {
    background-position: 0 -28px;
}

.search_text {
    padding: 10px 20px;
}

.term_herf a:hover {
    text-decoration: underline;
}

.term_herf i {
    border: 1px solid #ffffff;
    background: #e6f7fd;
    color: #699fff;
}

.intell_index_ul {
    ul {
        padding: 0;
        margin: 0;

        li {
            a {
                color: #333;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                width: 97%;
            }

            i {
                position: absolute;
                margin-top: 4px;
            }

            span {
                white-space: normal;
                float: left;
                line-height: 19px;
                padding-left: 29px;
                margin-bottom: 10px;
            }

            a:hover {
                text-decoration: underline;
                color: #108cee;
            }
            list-style: none;
        }
    }
}

.intell_index_ul::after {
    content: "";
    display: block;
    clear: both;
}

li {
    list-style: none;
}

.step_list {
    padding: 0 20px;
}

.number_btn_right {
    button {
        &.ant-btn.ant-btn-primary {
            padding-left: 10px;
            padding-right: 10px;
            height: 30px;
            color: #108cee;
            background-color: #eaf6fe;
            border: 1px solid #eaf6fe;
        }

        &.ant-btn.ant-btn-primary:hover {
            background-color: #d2ecfd;
        }
    }
}

.resultPagination {
    border-top: 1px solid #ddd;
    background: #fff;
    padding-top: 20px;
    padding-right: 10px;
    margin-left: 12px;
    margin-right: 12px;
    text-align: right;
}

.intelligent_ul .ant-collapse-borderless > .ant-collapse-item {
    border-bottom: none;
}

.noresult {
    display: inline-block;
    background: url("@{img}/nodata.png") no-repeat 0 30px;
    height: 200px;
    width: 500px;
    padding: 80px 0 20px 177px;
}

.term_herf .red_span {
    color: red;
    font-size: 16px;
    padding: 0;
}

.term_herf .red_span:hover {
    text-decoration: underline;
}

.spin_style {
    //min-height: 500px;
    width: 100%;
    //background: #e8ecf0;

    .ant-row {
        margin-top: 20px !important;
    }

    .ant-card {
        overflow: auto;
    }
}

.split-select-content {
    white-space: nowrap;
    margin-left: 0;
}

.split-select-content::after {
    content: '';
    display: block;
    clear: both;
}

.intell-question {
    background: white;
    padding: 12px;
    overflow: auto;
}

.result-select-li.ant-list-item {
    display: inherit;
}

.result-select,
.result-select-false {
    margin: 0 5px;
    display: inline-block;
    overflow: auto;
    background: #e8ecf0;
}

.ant-list-split .ant-list-item.result-select-li {
    border-bottom: 1px solid #dbdbdb;
}

.split-select-content .pull-left {
    float: inherit;
    vertical-align: top;
}

.split-select-content .ant-btn.reselt-button {
    vertical-align: top;
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
    margin-right: 25px;
}

.result-select-false {
    .result-select-li {
        display: none;
    }
}

.result-select-li {
    background: #E8ECF0;
    overflow: auto;
    padding: 4px !important;
    cursor: pointer;
}

.result-select-li-active {
    background: orange;
    padding: 4px !important;
    cursor: pointer;
    color: #fff;
}

.ant-list-item-content {
    padding-left: 10px;
    padding-right: 10px;
}

.reselt-button {
    height: 30px!important;
    margin-left: 20px;
    background: #E8ECF0;

    i {
        color: #fff;
        font-weight: bolder;
        font-size: 22px;
    }

    span {
        color: white;
    }
}

.stepNumber {
    // margin-bottom: 15px;
    .ant-radio-button-wrapper {
        border-radius: 0;
        border: none;
        color: #444444;
        background-color: #eee;
        cursor: pointer;
        padding: 15px;
        width: 100px;
        text-align: center;

        &:after {
            position: absolute;
            top: -1px;
            right: -15px;
            width: 35px;
            height: 33px;
            transform: scale(0.707) rotate(45deg);
            z-index: 2;
            background-color: #eee;
            border-radius: 0 5px 0 50px;
            border-top: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            box-sizing: content-box;
            content: "";
        }

        span {
            position: relative;
            top: -14px;
        }

        &.ant-radio-button-wrapper-checked {
            background-color: var(--primaryColor);
            color: #ffffff;

            &:after {
                background-color: var(--primaryColor) !important;
            }
        }
    }
}

.selectContainer {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: -1;
}

.locale_span {
    color: #FF4500;
}

.already_add {
    border-top: 1px solid darkgray;
    background: white;
    padding-bottom: 10px;

    .no_table_sentence {
        margin: 10px 10px 10px 24px;
    }

    .already_add_btn {
        button {
            margin-left: 24px;
        }
    }

    b {
        font-size: 14px;
        border-bottom: 1px solid #ddd;
        display: block;
        line-height: 35px;
        text-indent: 24px;
        font-weight: normal;
    }

    ul {
        padding-left: 24px;
        max-height: 300px;
        overflow: auto;

        li {
            position: relative;
            margin-right: 24px;
            margin-top: 10px;
            background: #F6F7FB;
            border: 1px solid #e8e8e8;
            padding: 5px;
            border-radius: 5px;

            .list_item_content {
                width: 95%;
            }

            span {
                cursor: pointer;
                position: absolute;
                right: 10px;
                top: 4px;
            }
        }
    }
}


.tipsContainer{
    position: relative;

    .tipsIcon{
        position: absolute;
        top: 8px;
        right: 15px;
    }

    .treeTips{
        margin-top: 5px;
        font-size: 12px;
        padding: 5px 20px 5px 20px;
            margin-right: 10px;

        .ant-alert-icon{
            top: 8.5px;
            left: 4px;
        }
        .ant-alert-close-icon{
            right: 5px;
            top: 0px;
        }
    }
}
