.addSourceLayout {
    .steps-content {
        padding: 0px !important;
        background: transparent !important;
    }
    > main {
        padding: 0;
        background-color: transparent;

        .Module {
            padding: 20px;
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }
    .step3Content {
        background: #fff;
        max-height: 80vh;
        padding: 50px 0;
        min-height: 500px;
        .DetailPart {
            width: 520px;
            margin: 24px auto;
        }
        .listBtn {
            text-align: center;
        }
        .StatusLabel {
            font-size: 16px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #262626;
            .Icon {
                font-size: 24px;
            }
        }
    }
}
