.look {
    .HeaderExtra {
        font-size: 14px;
        color: #2d3033;
        line-height: 20px;
    }

    :global {
        .Module {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }
}
