.ColorPicker {
  > div {
    > div:first-child {
      display: none;
    }
  }
}

.ColorButton {
  border: 3px solid #999;
  width: 50px;
  height: 24px;
  border-radius: 4px;
}

.Popover {
  :global {
    .ant-popover-inner-content {
      padding: 0;
    }
  }
}
