.indexmaAssetHome {
    //min-height: calc(~"100vh - 80px");
    //height: auto;
    .card-container > .ant-tabs-card > .ant-tabs-content {
        height: 24px;
        transform: translate(0, 4px);
    }
    .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
        background: #fff;
        padding: 24px;
    }
    .card-container > .ant-tabs-card .ant-tabs-nav-container {
        height: auto !important;
        font-size: 16px;
    }

    .card-container > .ant-tabs-card > .ant-tabs-bar {
        border-color: #fff;
        border-bottom: none !important;
    }

    .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
        border: none !important;
        border-top: 4px solid transparent !important;
        background: #F1F1F1 !important;
        padding: 6px 28px !important;
        height: 48px;
        font-size: 16px !important;
        color: #666666;
    }

    .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
        border-top: 4px solid #1890ff !important;
        background: #fff !important;
    }
    .searchInput {
        padding: 0 0 8px 0;
        margin: 0 auto;
        width: 800px;

        .ant-btn {
            height: 32px !important;
            width: 60px;

            svg {
                width: 18px;
                height: 18px;
                margin-top: 5px;
            }
        }

        .ant-input {
            height: 40px;
        }
        .ant-input-search {
            //width: calc(~"100% - 116px");
        }

        .ant-input-affix-wrapper {
            width: 100%;
        }

        .propertyBtn {
            display: inline-block;
            margin-top: 5px;
            cursor: pointer;

            img {
                margin-left: 24px;
                margin-right: 8px;
            }
        }

    }
    .treeSelect {
        min-height: calc(~"100vh - 246px");
        //padding: 8px 16px;
        //position: fixed;
        width: 256px;
        background: #FFFFFF;
        box-shadow: 2px 0px 6px 0px rgba(0, 21, 41, 0.12);
        .ant-tree-node-content-wrapper {
            height: 40px;
            line-height: 40px;
            padding-left: 5px;
            width: 229px;
        }
        .ant-tree-treenode-selected {
            .ant-tree-switcher {
                //background: #F7F7F7;
            }
        }
        .ant-tree-checkbox {
            margin-top: 8px;
        }
        .ant-tree-switcher {
            margin-top: 8px;
        }
        .ant-tree-title {
            font-size: 14px;
        }
        .ant-tree-node-content-wrapper.ant-tree-node-selected {
            background: none;
            .ant-tree-title {
                font-weight: 400 !important;
                color: rgba(0, 0, 0, 0.65);
            }
        }
        .ant-tree-node-content-wrapper:hover {
            background: none;
        }

        .treeTitle>span:nth-child(2) {
            font-size: 14px;
            font-weight: 600;
            color: #333333;
            background: #F7F7F7;
            width: calc(~"100% - 35px");
        }

        .treeTitle>span:nth-child(1) {
            height: 40px;
            width: 35px !important;
            background: #F7F7F7;
            padding-top: 8px;
            padding-left: 12px;
            margin-top: 0px;
        }

        .treeTitle>.ant-tree-child-tree {
            margin-top: 8px;
        }

        .ant-tree-checkbox {
            .ant-tree-checkbox-inner {}
        }

        //.ant-tree-switcher {
        //    width: 12px;
        //    height: 12px;
        //}

        .ant-tree li .ant-tree-node-content-wrapper {
            padding-left: 0px;
        }
        .singleTree {
            .ant-tree-child-tree {
                //padding-left: 0px;
            }
            .ant-tree-switcher {
                //padding-left: 18px;
            }
            //.ant-tree-treenode-selected {
            //    background: #F5F5F5;
            //}
            .ant-tree-node-content-wrapper {
                padding-left: 5px;
            }
            .ant-tree-node-content-wrapper.ant-tree-node-selected {
                background: #F5F5F5 !important;
            }
            .ant-tree-node-content-wrapper {
                width: calc(~"100% - 24px") !important;
                padding-right: 8px;
                //padding-left: 12px !important;
            }
            .treeTitle>span:nth-child(2) {
                width: calc(~"100% - 35px") !important;
            }
        }

        .ant-tree {
            font-size: 12px;
            color: #333;

            ul {
                padding-left: 12px;
            }

            li {
                padding-top: 0px;
                padding-bottom: 0px;
            }

            .ant-tree-node-content-wrapper {
                width: calc(~"100% - 50px");
            }

            .ant-tree-title {
                width: 100%;
            }
        }

        .ant-collapse {
            border: none;

            .ant-collapse-item {
                border: none;
            }

            .ant-collapse-content {
                border: none;
                background: transparent;
            }

            .ant-collapse-header {
                padding: 8px 16px;
                font-weight: 600;
                color: #333;
                font-size: 14px;

                .ant-collapse-arrow {
                    left: calc(~"100% - 28px");
                }
            }

            .ant-collapse-content-box {
                padding: 0px 16px;
            }
        }
    }

    .dataAssetContent {
        width: 100%;
        padding: 0 24px 24px 48px;
        height: calc(~"100vh - 246px");
        overflow: auto;

        .filters {
            padding: 8px 0;
            font-size: 12px;
            border-bottom: 1px solid #e5e5e5;
            .selectedFilterContent {
                margin-top: 16px;
                .selectedTag {
                    display: inline-block;
                    background: #F2FBFF;
                    border-radius: 14px;
                    height: 24px;
                    padding: 0 6px;
                    cursor: pointer;
                    margin-right: 20px;
                    margin-bottom: 5px;
                    font-size: 14px;
                    color: #0171C2;

                    i {
                        margin-left: 10px;
                        color: #87D2FF;
                    }
                    i:hover {
                        color: #1890ff;
                    }
                }
            }

            .filterBtn {
                width: 80px;
                height: 20px;
                border: 1px solid #e5e5e5;
                padding: 0 8px;
                cursor: pointer;

                i {
                    margin-left: 2px;
                }
            }

            .filterContent {
                width: 100%;
                height: 76px;
                border: 1px solid #d9d9d9;
                margin-top: 8px;
                padding: 0 16px;
                font-size: 14px;
                color: #333;
                position: relative;
                transition: 0.3s;

                .filterItem {
                    padding: 7px 0;

                    .filterTitle {
                        display: inline-block;
                        width: 104px;
                    }

                    .tagName {
                        margin-right: 24px;
                        cursor: pointer;

                        i {
                            margin-left: 2px;
                        }
                    }

                    .ant-checkbox {
                        display: none;
                    }

                    .ant-checkbox-wrapper-checked span {
                        color: #b3b3b3 !important;
                    }

                    .ant-checkbox-wrapper:hover {
                        color: var(--primaryColor);
                    }

                    .ant-checkbox-wrapper span {
                        padding-left: 0px;
                        padding-right: 16px;
                        color: #333;
                    }
                }
            }

            .tagFilter {
                position: absolute;
                left: 0;
                background: #fff;
                width: 100%;
                box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.04), 0px 13px 14px 0px rgba(0, 0, 0, 0.08), 0px 7px 12px 0px rgba(0, 0, 0, 0.06);
                border: 1px solid #F2F2F2;
                padding: 9px 16px;
                transition: 0.3s;

                .ant-checkbox {
                    display: none;
                }

                .ant-checkbox-wrapper-checked {
                    color: #b3b3b3;
                }

                .ant-checkbox-wrapper:hover {
                    color: var(--primaryColor);
                }

                .ant-checkbox-wrapper span {
                    padding-left: 0px;
                    padding-right: 32px;
                }
            }
        }

        .assetContent {
            a {
                color: #333;
            }

            .assetItem {
                padding: 20px 14px 16px 8px;
                font-size: 12px;
                color: #333;
                border-bottom: 1px solid #e5e5e5;
                .assetIcon {
                    width: 40px;
                    height: 40px;
                    background: #E9F4FF;
                    line-height: 40px;
                    text-align: center;
                    font-size: 16px;
                    color: #00A1FF;
                    border-radius: 50%;
                    margin-right: 12px;
                    display: inline-block;
                }

                .assetTitle {
                    .title {
                        display: inline-block;
                        font-size: 16px;
                        max-width: 90%;
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        vertical-align: sub;
                        a {
                            color: #1890ff;
                        }
                    }

                    .title:hover {
                        a {
                            color: var(--primaryColor);
                        }
                    }

                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                        vertical-align: bottom;
                    }

                    .assetType {
                        width: 48px;
                        height: 20px;
                        border-radius: 2px;
                        color: #fff;
                        text-align: center;
                        line-height: 20px;
                        margin-right: 8px;
                        display: inline-block;
                    }
                }

                .tagList {
                    margin: 10px 0px 4px 0px;
                    padding-left: 28px;
                    max-width: 100%;
                    display: inline-block;
                    overflow: hidden;
                    white-space: nowrap;
                    vertical-align: bottom;
                    text-overflow: ellipsis;

                    .ant-tag {
                        padding: 0 4px;
                        margin-right: 4px;
                        border-radius: 2px;

                        a {
                            color: #1890ff;
                        }
                    }
                }

                .btnArea {
                    float: right;

                    img {
                        cursor: pointer;
                        width: 16px;
                        height: 16px;
                        margin-left: 8px;
                        margin-right: 0px;
                    }

                    .addBtn {
                        color: #fff;
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        background: var(--primaryColor);
                        margin-left: 8px;
                        font-size: 17px;
                        line-height: 13px;
                        text-align: center;
                        vertical-align: middle;
                        cursor: pointer;
                    }
                }

                .assetDetail {
                    //margin: 8px 0;
                    line-height: 24px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    padding-left: 50px;
                    font-size: 14px;
                    .relateMetrics {
                        margin-right: 24px;
                    }
                    .assetLabel {
                        display: inline-block;
                        width: 22%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }

                .modelArea {
                    border-top: 1px dashed #e5e5e5;
                    padding-left: 28px;

                    .modelDetail {
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        -o-text-overflow: ellipsis;
                        max-width: calc(~"100% - 136px");
                        vertical-align: middle;

                        span:hover {
                            color: var(--primaryColor);
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }

                    .modelBtn {
                        display: inline-block;
                        margin-left: 16px;
                        text-decoration: underline;
                        cursor: pointer;
                        float: right;
                    }

                    .modelBtn:hover {
                        color: var(--primaryColor);
                    }

                    .modelBtnDisabled {
                        display: inline-block;
                        margin-left: 16px;
                        text-decoration: underline;
                        cursor: pointer;
                        color: #b3b3b3;
                    }
                }
            }

            .assetItem:hover {
                background: #F9F9F9;
            }
        }

    }
}

.dataAssetDetail {
    padding: 16px;
    padding-left: 256px;

    .title {
        font-size: 16px;
        color: #333;
        font-weight: 600;
        text-align: left;

        i {
            margin-left: 9px;
        }
    }

    .assetType {
        //width: 58px;
        height: 22px;
        border-radius: 2px;
        color: #fff;
        text-align: center;
        line-height: 22px;
        margin-right: 3px;
        display: inline-block;
        background: #8AD6E6;
        font-size: 14px;
        padding: 0 8px;
    }

    .dimensionType {
        height: 24px;
        background: #5A9DE0;
        border-radius: 2px;
        padding: 4px;
        color: #fff;
        margin-right: 8px;
    }

    .modelDetail {
        font-family: PingFangSC-Regular, PingFang SC;

        .modelDescription {
            font-size: 14px;

            font-weight: 400;
            color: #B3B3B3;
        }

        .fieldName {
            font-size: 12px;
            // font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #B3B3B3;
        }

        .fieldValue {
            font-size: 12px;
            // font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #333333;
        }

        .desc {
            word-wrap: break-word;
            // font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #B3B3B3;
            width: 560px;
            margin-top: 8px;
            // padding-bottom: 8px;
        }

        .tagArea {
            position: relative;

            .tagContent {
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;
                max-width: calc(~"100% - 166px");
                text-overflow: ellipsis;
            }

            .showMoreTag {
                display: inline-block;
                max-width: calc(~"100% - 166px");
            }

            .ant-tag-hidden {
                display: inline-block !important;
            }
        }

        .showMore {
            cursor: pointer;
            font-size: 12px;
            text-decoration: underline;
            float: right;
        }

        .showMore:hover {
            color: var(--primaryColor);
        }

        .ant-tag {
            padding: 0 4px;
            margin-right: 4px;
            border-radius: 2px;
            margin-bottom: 8px;
        }

    }

    .ant-tabs-tab {
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 32px !important;
    }

    .assetTab {
        padding: 0;

        .ant-tabs-bar {
            background: transparent;
            border-bottom: 1px solid #e8e8e8;
            height: auto;

            .ant-tabs-tab {
                padding-left: 0 !important;
            }
        }

        .ant-tabs-nav-container {
            display: block !important;
            //height: 44px !important;
        }
    }

    .link_box_title{
        font-size: 12px;
    }
    .link_box {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 20px 0 4px;
        vertical-align: -2px;
    }
}

.modelModal {
    .modelTableContent {
        position: relative;
    }

    .modelTable {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }

    .modelTableId {
        max-width: 90%;
        display: inline-block;

        span:hover {
            color: var(--primaryColor);
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .moreModelTable {
        white-space: pre-wrap;
    }

    .modelBtn {
        position: absolute;
        top: 6px;
        right: 4px;
        padding: 0 9px;
        background: #F2F2F2;
        color: #333;
        font-size: 12px;
        cursor: pointer;

        i {
            margin-left: 2px;
        }
    }

    .ant-modal-body {
        padding: 16px;
        max-height: 500px;
        overflow: auto;

        .ant-form-item-label {
            width: 95px;
        }

        .formTip {
            color: #b3b3b3;
            font-size: 12px;
            display: inline-block;
            transform: translate(0px, -14px);
        }

        .ant-btn {
            height: 24px;
            margin-left: 8px;
            border-radius: 2px;
            width: 80px;
        }
    }
}

.addTagModal {
    font-family: PingFangSC-Regular, PingFang SC;

    .ant-form label {
        font-size: 14px !important;
    }

    .ant-form-item {
        margin-bottom: 4px !important;
    }

    .ant-tag {
        max-width: 240px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .closeTag {
        padding-right: 17px;
        position: relative;

        .anticon-close {
            position: absolute;
            top: 4px;
            right: 1px;
        }
    }

    .deleteTagArea {
        max-height: 150px;
        overflow-y: auto;
        margin-bottom: 20px;

        .ant-tag-checkable {
            border: 1px solid var(--primaryColor);
            background: #e6eeff;
            color: var(--primaryColor);
            max-width: 240px;
            cursor: pointer;
            padding-right: 5px;
            margin-bottom: 5px;
        }

        .geekBlueTag {
            border: 1px solid #7171CC;
            background: #E6E7FF;
            color: #4343BF;
            max-width: 240px;
            cursor: pointer;
        }

        .ant-tag-checkable-checked {
            border: 1px solid #FF9500;
            background: #FF9500;
            color: #fff;
            position: relative;
            padding-right: 17px;
        }

        .checkIcon {
            width: 10px;
            position: absolute;
            top: 3px;
            right: 5px;
            color: #fff;
        }
    }
}

.dataAssetDetail {
    height: 100%;
    overflow-y: auto;

    .DataRelatedHeader {
        padding: 20px 84px 0 84px;

        .Topic {
            h1 {
                display: inline-block;
                font-size: 20px;
                font-weight: 500;
                color: rgba(0, 0, 0, 1);
                margin-bottom: 0;
            }

            .saveBtn {
                line-height: 28px;
                // padding-top: 45px;
                float: right;
            }
        }
    }

    .RelatSummary {
        display: inline-flex;
        align-items: center;
        margin-bottom: 18px;

        div {
            padding: 6px 12px;
            background: rgba(242, 244, 247, 1);
            border-radius: 2px;
            border: 1px solid rgba(0, 0, 0, 0.05);
        }

        hr {
            border: none;
            width: 40px;
            height: 1px;
            background: rgba(0, 0, 0, 0.15);
        }

        .btnAddRelate {
            background: var(--primaryColor);
            border: none;
            color: white;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background: rgb(76, 168, 254);
            }
        }
    }

    .RelateList {
        width: 560px;
        display: inline-block;

        >* {
            margin-top: 16px;
        }
    }

    .materialized {
        .ddlArea {
            height: 390px;
            font-size: 14px;
            color: #333333;
            resize: none;
            outline: none;
        }

        .materializedLeft {
            display: inline-block;
            width: 350px;
            vertical-align: top;
            margin-right: 16px;

            .materializedItem {
                padding: 16px 0px 31px 0px;
                border-bottom: 1px solid #e5e5e5;
                font-size: 14px;
                color: #333;
                margin-bottom: 16px;

                .editBtn {
                    width: 80px;
                    height: 22px;
                    background: #FFFFFF;
                    border-radius: 2px;
                    border: 1px solid #77A9F7;
                    color: #1890FF;
                    font-size: 14px;
                    line-height: 22px;
                    text-align: center;
                    float: right;
                    cursor: pointer;
                }

                .labelContent {
                    margin-top: 16px;

                    .label {
                        display: inline-block;
                        width: 88px;
                        margin-right: 4px;
                    }

                    .locationSpan {
                        color: #b3b3b3;
                        width: 258px;
                        overflow: hidden;
                        display: inline-block;
                        vertical-align: bottom;
                        text-overflow: ellipsis;
                    }

                    .disableStatus {
                        color: #F23F30;

                        span {
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            background: #F26144;
                            border-radius: 50%;
                            margin-right: 4px;
                        }
                    }

                    .status {
                        color: #6CB324;

                        span {
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            background: #AACC66;
                            border-radius: 50%;
                            margin-right: 4px;
                        }
                    }
                }
            }
        }

        .materializedRight {
            display: inline-block;
            width: calc(~"100% - 366px");
        }
    }

    .businessCaliber {
        height: 100%;
        background: rgba(255, 255, 255, 1);
        width: 100%;

        // img {
        //     // height:100%;
        //     width: 100%;
        // }
        .circle {
            width: 50px;
            height: 50px;
            position: absolute;
            // background: #272822;
            top: 88%;
            left: 33%;
            border-radius: 50px;
            opacity: 0.1;
            cursor: pointer;
        }

        .arrowBack {
            width: 50px;
            // height: 50px;
            position: absolute;
            // background: #272822;
            top: 15%;
            right: 0px;
            border-radius: 50px;
            // opacity: 0.1;
            cursor: pointer;
            z-index: 99;
        }

    }

    .DataRelated {
        padding: 10px 84px;

        .ant-tabs-tabpane {
            background-color: white;
            margin-top: 24px;
            padding: 32px;
        }

        .whCls {
            // width:1152px;
            height: 100%;
            background: rgba(255, 255, 255, 1);
            // border:1px solid rgba(219,219,219,1);

            .TextContentCls {
                font-size: 14px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: rgba(0, 0, 0, 1);
            }
        }
    }

    .updateCfgCls {
        span {
            padding-left: 8px;
        }
    }

    .editTable {

        // padding: 0 144px;
        .ant-select,
        .ant-select-selection--single {
            min-width: 100px;
        }

        .ant-table-tbody td input {
            height: 28px;
        }

        .ant-form-item-control {
            line-height: 28px;
            height: 28px;
        }

        .ant-select-selection__rendered {
            line-height: 28px;
        }

        .ant-select-selection--single {
            height: 28px;
        }

        .editSearch {
            padding-bottom: 10px;

            .ant-input-lg {
                height: 32px;
                font-size: 12px;
            }

            button.ant-btn {
                height: 32px;
                font-size: 12px;
            }
        }

        .leftRow {
            text-align: left;
        }

        .rightRow {
            text-align: right;
        }

        .centerRow {
            text-align: center;
        }

        .ant-table-thead {
            th {
                text-align: center;
            }
        }

        .ant-table-thead>tr>th {
            border-bottom: 2px #333333 solid;
        }

        table .ant-table-thead>tr>th {
            background: #FFFFFF !important;
        }

        .ant-table-thead>tr>th,
        .ant-table-tbody>tr>td,
        .portaitcheck_padding .ant-table-tbody>tr>td {
            padding: 10px;
        }
    }

    .editable-cell-value-wrap {
        padding: 5px 12px;
        height: 28px;
        cursor: pointer;
    }

    .editable-row:hover .editable-cell-value-wrap {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        padding: 4px 11px;
    }
}

.fieldSettingModal {
    p {
        margin-bottom: 0
    }

    .filedNotes {
        margin-bottom: 8px;

        .Topic {
            font-weight: bold;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.85);
        }

        .ant-select,
        .ant-select-selection--single {
            min-width: 80px;
        }
    }
}

.dimensionPng {
    float: right;
    width: 16px;
    background-image: url('../../../../resources/images/setting1.png');
}

.dimensionPng:hover {
    background-image: url('../../../../resources/images/setting2.png');
}

.materializedDetail {
    .materialTitle {
        span {
            font-size: 16px;
            font-weight: 600;
            color: #333333;
        }

        .anticon {
            font-size: 10px;
            opacity: 0.7;
            border: 1px solid #e5e5e5;
            border-radius: 50%;
            padding: 6px;
            margin-right: 4px;
        }
    }

    .ant-steps {
        width: 464px;
        margin: 16px 0px;

        .ant-steps-item-title {
            font-size: 16px;
            font-weight: 400;
        }
    }

    .materialForm {
        padding: 0px 30px;
        color: #333;
        height: 100%;
        background: #fff;

        .ddlBtn {
            width: 80px;
            height: 22px;
            background: #FFFFFF;
            border-radius: 2px;
            border: 1px solid #77A9F7;
            color: #1890ff;
            line-height: 22px;
            text-align: center;
            margin-top: 8px;
            cursor: pointer;
        }

        textarea {
            resize: none;
        }

        .ant-form-item-control-wrapper {
            display: inline-block;
        }

        .ant-form-item-control-wrapper:last-child {
            width: calc(~"100% - 115px");
        }

        .ant-form-item {
            margin-bottom: 16px;
        }

        .ant-form-item-label {
            vertical-align: inherit;
            width: 80px;
            display: inline-block;
        }

        .ant-select-selection--single {
            height: 32px;
        }

        .ant-select-selection__rendered {
            line-height: 30px !important;
        }
    }

    .checkboxRightForm {
        .ant-form-item-control-wrapper {
            width: calc(~"100% - 120px");
            padding-top: 4px;
        }
    }

    .checkboxBottomForm {

        //padding-left: 20px;
        .timeTitle {
            width: 140px;
            display: inline-block;
        }

        .ant-form-item-label {
            vertical-align: inherit;
        }

        .ant-radio-wrapper {
            margin-right: 30px;

            span {
                font-size: 12px;
            }
        }

        .ant-select,
        .ant-select-selection--single {
            min-width: 100px;
        }

        .timeEndTip {
            margin-left: 10px;
            font-size: 12px;
            color: #b3b3b3;
        }
    }


    .editautoDay {
        position: relative;
        top: -30px;
        margin-left: 65px;

        .editautoDayTime {
            float: right;
            margin-top: 4px;
            margin-right: 23px;
        }

        .editautoDayCheck {
            .ant-checkbox-group-item {
                .ant-checkbox-inner:after {
                    left: 4.571429px;
                    top: 2.142857px;
                    width: 4.714286px;
                    height: 7.142857px;
                }

                border-right: 1px solid #a4d9f3;
                margin-left: 0;
                margin-right: 0;
                height: 28px;
                line-height: 28px;
                font-size: 12px;

                .ant-checkbox-checked .ant-checkbox-inner {
                    border: none;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #4ebf00;
                }

                .ant-checkbox+span {
                    padding-left: 12px;
                    padding-right: 12px;
                }
            }

            background: #ebf7fe;
            border-radius: 4px;
            line-height: 22px;
            border-top: 1px solid #a4d9f3;
            border-left: 1px solid #a4d9f3;
            border-bottom: 1px solid #a4d9f3;
            width: 344px;
            margin-top: 4px;
            float: left;
            margin-right: 10px;

            .ant-checkbox {
                position: absolute;
                right: 2px;
                top: 14px;

                .ant-checkbox-inner {
                    background-color: transparent;
                    border: none;
                }
            }
        }
    }

    .editautoDay.editautoMonth .editautoDayCheck .ant-checkbox-group-item {
        width: 49px;
        text-align: center;
        border-bottom: 1px solid #a4d9f3;
    }

    .editautoDay.editautoMonth .editautoDayCheck {
        border-bottom: none;
    }

    .editautoDay .editautoDayCheck .ant-checkbox-group-item .ant-checkbox-inner:after {
        top: 5px;
    }
}

.dataAssetColumnDetail {
    padding: 20px 16px 20px 200px;

    .title {
        font-size: 16px;
        color: #333;
        font-weight: 600;
        text-align: left;
    }
}


.sys_card {
    margin-bottom: 20px;
    margin-top: 20px;
    .ant-card-head {
        min-height: 24px;
        border-bottom: 0;
        padding: 0;
        line-height: 24px;
        margin-bottom: 16px;
        .ant-card-head-title{
            padding: 0;
            color: #333;
        }
    }
    .sql_box{
        margin-top: 8px;
    }
    .sql_box:nth-child(1){
        margin-top: 0;
    }

    .ant-card-body {
        padding-left: 0;
        padding: 0;
    }

    .ant-form-item{
        margin-bottom: 8px;
        .ant-form-item-label{
            line-height: 20px;
            label{
                font-size: 14px!important;
                color: #666;
            }
        }
        .ant-form-item-control{
            line-height: 20px;
        }
        .ant-form-text{
            line-height: 20px;
            color: #333;
            font-size: 14px;
        }
    }
    .ant-form-item-label {
        text-align: left;
    }

    .ant-card-head-title {
        font-weight: bold;
    }
}

.sql_card{
    .ant-card-head{
        margin-bottom: 0;
    }
}

.sys_type {
    height: 42px;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    margin-right: 3px;
    display: inline-block;
    background: #8AD6E6;
    font-size: 14px;
    padding: 0 8px;
}


.table_box {
    position: relative;

    .table_box_header {
        width: 358px;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        font-size: 12px;
        color: #333;
        cursor: pointer;
        border: 1px solid rgba(102, 102, 102, 0.2);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        position: relative;

        .header-icon{
            position: absolute;
            right: 10px;
            top: 12px;
            font-size: 18px;
            color: #1890FF;
        }

        a {
            color: #1890FF;
            margin-right: 10px;
            font-size: 14px
        }

        &::after {
            position: absolute;
            content: '';
            right: 35px;
            top: 8px;
            width: 1px;
            height: 24px;
            border: 1px solid rgba(102, 102, 102, 0.1);
        }
    }

    .card_box {
        position: absolute;
        z-index: 10;
        left: 0;
        margin-top: 10px;
        width: 360px;
        .card_item{
            width: 300px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}


.dataWareDetail{
    font-family: PingFangSC-Regular, PingFang SC;
    .ant-table-thead > tr > th{
        padding: 10px 10px!important;
    }
    //width: 1080px;
    //margin: 0 auto;
    padding: 16px;
    height: auto;
    // background: red;
    padding-left: 0px;
}

.graph_action_icon{
    i{
        margin-right: 13px;
    }
}
.sys_select{
    width: 300px;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    .ant-select-selection-selected-value{
        font-size: 14px;
    }
}

.my_search{
    width: 250px;
    input{
        font-size: 12px;
        color: #666;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 28px;
    }

}
.indexmaDrawer {
    .ant-drawer-body {
        padding: 0px;
    }
    .anticon-close:hover {
        color: #1890ff;
    }
    .indexmaAssetDetail {
        .card-container {
            background: #fff;
            padding: 0 24px 24px 24px;
            position: relative;
            min-height: calc(~"100vh - 155px");
            margin-top: 22px;
        }
        .assetTitle {
            padding: 14px 24px;
            background: #fff;
            display: flex;
            .title {
                font-size: 16px;
                color: #333;
                margin-bottom: 12px;
            }
            .atomLabel {
                font-size: 14px;
                color: #595959;
            }
            .atomContent {
                margin-right: 32px;
                color: #262626;
            }
            .assetIcon {
                width: 40px;
                height: 40px;
                background: #E9F4FF;
                line-height: 40px;
                text-align: center;
                font-size: 16px;
                color: #00A1FF;
                border-radius: 50%;
                margin-right: 12px;
            }

        }
        .detailArea {
            .title {
                font-size: 14px;
                margin: 24px 0 16px 0;
            }
            div {
                margin-bottom: 12px;
                color: #333;
                .atomLabel {
                    color: #666;
                    display: inline-block;
                    min-width: 115px;
                    max-width: 115px;
                    text-align: right;
                }
                .atomContent {
                    word-break: break-all;
                    display: inline-block;
                    width: calc(~"100% - 115px");
                    vertical-align: top;
                }
            }
        }
    }
}
.indexmaAssetDetail {
    .card-container {
        background: #fff;
        padding: 0 24px 24px 24px;
        position: relative;
        min-height: calc(~"100vh - 250px");
        margin-top: 24px;
    }
    .assetTitle {
        padding: 14px 24px;
        background: #fff;
        display: flex;
        .title {
            font-size: 16px;
            color: #333;
            margin-bottom: 12px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .atomLabel {
            font-size: 14px;
            color: #595959;
        }
        .atomContent {
            margin-right: 32px;
            color: #262626;
        }
        .assetIcon {
            width: 40px;
            height: 40px;
            background: #E9F4FF;
            line-height: 40px;
            text-align: center;
            font-size: 16px;
            color: #00A1FF;
            border-radius: 50%;
            margin-right: 12px;
        }

    }
    .detailArea {
        .title {
            font-size: 14px;
            margin: 24px 0 16px 0;
        }
        div {
            margin-bottom: 12px;
            color: #333;
            .atomLabel {
                color: #666;
                display: inline-block;
                min-width: 115px;
                max-width: 115px;
                text-align: right;
            }
            .desc {
                display: -webkit-box !important;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                text-overflow: ellipsis;
                overflow: hidden;
                width: calc(~"100% - 200px") !important;
            }
            .longDesc {
                width: calc(~"100% - 200px") !important;
            }
            .atomContent {
                word-break: break-all;
                display: inline-block;
                width: calc(~"100% - 115px");
                vertical-align: top;
            }
        }
    }
}

.atomDrawer {
    font-size: 14px;
    .title {
        font-weight: 600;
        margin: 32px 0 12px 0;
    }
    .atomDetailArea div {
        margin-bottom: 12px;
        color: #333;
        .atomLabel {
            color: #666;
            display: inline-block;
            min-width: 110px;
            max-width: 110px;
            text-align: right;
        }
        .atomContent {
            word-break: break-all;
            display: inline-block;
            width: calc(~"100% - 110px");
            vertical-align: top;
        }
    }
}
.periodDrawer {
    font-size: 14px;
    .title {
        font-weight: 600;
        margin: 32px 0 12px 0;
    }
    .atomDetailArea div {
        margin-bottom: 12px;
        color: #333;
        .atomLabel {
            color: #666;
            display: inline-block;
            min-width: 115px;
            max-width: 115px;
            text-align: right;
        }
        .atomContent {
            word-break: break-all;
            display: inline-block;
            width: calc(~"100% - 115px");
            vertical-align: top;
        }
    }
}
.atomTooltip {
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    color: #333333;
    margin-bottom: 8px;
    word-break: break-all;
    display: inline-block;
    width: calc(~"100% - 100px");
    vertical-align: top;
}