.addTagDrawer {
    .ruleList {
        margin-top: 8px;
        .iconfont {
            color: #CC0000;
            display: inline-block;
            cursor: pointer;
        }
        .ant-select {
            margin-right: 24px;
        }
    }
}
.mapColumnDetail {
    .tableLabel {
        div {
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 220px;
        }
    }
    .RichTableLayout {
        margin-top: 16px;
    }
    .ruleNameEdit {
        .iconfont {
            color: #4D73FF;
            cursor: pointer;
            float: right;
        }
        .editBtn {
            float: right;
            margin-left: 16px;
            margin-top: 5px;
        }
    }
    .ellipsisLabel {
        display: inline-block;
        width: calc(~"100% - 30px");
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .MiniForm {
        a:hover {
            text-decoration: underline;
        }
    }
}
.dataMaskPreviewModal {
    .ant-modal-header {
        border: none;
        padding-bottom: 0px;
        .ant-modal-title {
            font-size: 18px;
            font-weight: 400 !important;
        }
    }
    .ant-modal-body {
        padding-top: 16px;
        max-height: 500px;
        overflow-y: auto;
    }
    .previewItem {
        color: #5E6266;
        span {
            color: #2D3033;
            margin-left: 60px;
            display: inline-block;
        }
    }
}
.addMapColumnDrawer {
    .ant-drawer-body {
        main {
            padding: 0px !important;
            position: relative;
        }
    }
    .ellipsisLabel {
        display: inline-block;
        width: 100%;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ant-table-selection-column {
        text-align: center !important;
    }
    .emptyIcon {
        text-align: center;
        .anticon {
            font-size: 52px;
            margin-top: 100px;
        }
        div {
            margin-top: 16px;
            color: #5E6266;
        }
    }
    .ruleSelectArea {
        padding: 0px 24px;
        height: 40px;
        line-height: 40px;
        background: #F0F3FC;
        position: fixed;
        bottom: 64px;
        width: 960px;
        a {
            float: right;
        }
    }
    .ant-table-bordered .ant-table-header > table, .ant-table-bordered .ant-table-body > table, .ant-table-bordered .ant-table-fixed-left table, .ant-table-bordered .ant-table-fixed-right table {
        border: none;
    }
    .ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
        border-right: none;
    }
}
.rulePopMenu {
    width: 280px;
    .ant-dropdown-menu-item-active {
        background: #F7F8FA !important;
    }
    .ant-dropdown-menu-item {
        width: 100%;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.systemCategory {
    position: relative;
    .expandTable {
        .ellipsisLabel {
            display: inline-block;
            width: 100%;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .ant-table-expanded-row {
            display: none;
        }
        .ant-table-row-level-1 {
            .subInput {
                padding-left: 32px;
            }
        }
        .ant-table-row-expand-icon-cell {
            vertical-align: top;
            padding-right: 0px;
        }
    }
    .iconfont {
        cursor: pointer;
        position: absolute;
        top: 128px;
        left: 37px;
        z-index: 10;
    }
}
.tagTypeDropdown {
    .tagTypeContent {
        height: 196px;
        padding: 16px 0 36px 0;
        overflow-y: auto;
    }
    a {
        position: absolute;
        width: 100%;
        bottom: 0px;
        height: 36px;
        line-height: 36px;
        background: #fff;
        box-shadow: 0px -1px 0px 0px #E6E8ED;
        i {
            margin: 0 5px 0 16px;
        }
    }
    .dropdownTitle {
        color: #9EA3A8;
        margin-bottom: 12px;
        padding: 0 16px;
        span {
            color: #2D3033;
        }
    }
    .dropdownValue {
        padding: 0 16px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        color: #5E6266;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dropdownValue:hover {
        background: #F4F5F7;
    }
    .dropdownValueSelected {
        background: #F4F5F7;
    }
    .highlight {
        color: #4D73FF;
    }
    .emptyIcon {
        text-align: center;
        margin: 80px 0;
        .anticon {
            font-size: 52px;
        }
        div {
            margin-top: 16px;
            color: #9EA3A8;
        }
    }
}
.tagTypeModal {
    .ant-modal-body {
        padding: 8px 24px 24px 24px;
    }
    .tagTypeContent {
        padding-bottom: 24px;
        min-height: 240px;
        max-height: 50vh;
        overflow-y: auto;
        margin-bottom: 16px;
        .tagTypeValue {
            margin-bottom: 4px;
        }
        .tagTypeInput {
            .ant-input {
                width: 340px;
            }
            .btnArea {
                float: right;
                margin-top: 5px;
            }
        }
        .tagTypeName {
            cursor: pointer;
            height: 40px;
            line-height: 39px;
            padding: 0 15px;
            div {
                display: inline-block;
                width: 340px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .btnArea {
                display: none;
                float: right;
                .icon-bianji {
                    margin-right: 12px;
                }
            }
        }
        .tagTypeName:hover {
            background: #F7F8FA;
            .btnArea {
                display: inline-block;
            }
        }
        .iconfont {
            color: #507499;
        }
        .iconfont:hover {
            color: #4D73FF;
        }
    }
    .addTypeBtn {
        position: absolute;
        bottom: 0px;
    }
}
.postForm {
    .ant-form-item .ant-form-item-label > label {
        color: #606366;
    }
}
.addDataMaskDrawer {
    .ruleForm {
        .ant-form-item-label {
            padding: 0px !important;
        }
    }
}