.BoardChart {
    > header {
        font-weight: 500;
        color: #2d3033;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        .Extra {
            font-weight: 400;
            color: #c4c6cf;
            cursor: pointer;
            &:hover {
                color: #4d73ff;
            }
        }
    }
}
