.promptUserWrong{
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 30%;
    img{
      width: 102px;
    }
    span{
      display:block;
      padding-top: 15px;
      font-size: 16px;
    }
  }