.StatusLabel {
    font-family: PingFangSC-Regular, PingFang SC;
    display: inline-flex;
    align-items: center;
    .Icon {
        margin-right: 6px;
        display: flex;
    }
    > div {
        vertical-align: middle;
    }
}
