.DatabaseDetailPage {
    > header {
        background-color: white;
        padding: 20px;
        margin-bottom: 16px;
        > h3 {
            font-size: 18px;
            margin-bottom: 18px;
            :global {
                .anticon {
                    margin-right: 8px;
                }
            }
        }
        .Body {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .Left {
                font-size: 14px;
                color: #5e6266;
                line-height: 20px;
                :global {
                    .anticon {
                        margin-right: 8px;
                    }
                }

                > *:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
            .Right {
                flex-grow: 1;
                flex-shrink: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                > *:not(:last-child) {
                    margin-right: 20px;
                }

                h5 {
                    font-weight: normal;
                    color: rgba(158, 163, 168, 1);
                    margin-bottom: 4px;
                    font-size: 14px;
                }

                .Value {
                    em {
                        font-size: 16px;
                        font-weight: 600;
                        color: #262626;
                        font-style: normal;
                        margin-right: 4px;
                    }
                }
            }
        }
    }

    > main {
        background-color: white;
        padding: 0 20px 20px 20px;
    }
}
