.OverviewPage {
    height: 100%;
    :global {
        .Module {
            padding: 0;
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }

    .OverviewGroup {
        display: flex;

        .OverviewCard {
            display: inline-flex;
            align-items: center;
            padding: 16px 20px;
            background: #f7f8fa;
            flex-grow: 1;
            flex-shrink: 1;
            width: 100%;

            &:not(:last-child) {
                margin-right: 16px;
            }
            > img {
                width: 44px;
                height: 44px;
                margin-right: 20px;
            }
            > main {
                font-weight: 500;
                color: #2d3033;
                h5 {
                    font-weight: 400;
                    color: #5e6266;
                    margin-bottom: 8px;
                    font-size: 14px;
                }

                em {
                    font-size: 24px;
                    color: #262626;
                    margin-right: 4px;
                    font-style: normal;
                }
            }
        }
    }

    .DatabaseGroup {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 16px;
        column-gap: 16px;
    }
}
