.DataMapPage {
    height: 100%;
    display: flex;
    flex-direction: column;

    .DataSourceMap {
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
    }

    .DataSourceItem {
        padding: 9px 16px;
        &:hover {
            background: #f4f5f7;
        }
    }
}

.DataMapPageSpin {
    height: 100%;
    .ant-spin-container {
        height: 100%;
    }
}
