
.chartContainerTree{
    .diagramComponent {
        width: 100%;
        height: 100%;
        // width: 100%;
        // height: 480px;
        // border: solid 1px #CECECE;
        // background-color: #f2f2f2;

        // 去除画布的蓝色默认border
        canvas{
        border:0px;
        outline:none;
        }
    }
}