.catalog {
    .Slider {
        width: 188px;
    }
    .SliderLayout.SliderLayoutFoled .Slider {
        width: 0;
    }
    .ContentContainer {
        padding: 16px 20px;
        padding-bottom: 0px;
    }
    .Module {
        padding: 0px;
    }
    .titleEdit {
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #4D73FF;
        margin-left: 24px;
        .iconfont {
            margin-left: 8px;
        }
    }
    .catalogSystem {
        padding-bottom: 50px;
        .TextMoreWrap {
            padding-right: 40px;
            overflow: initial !important;
        }
        .searchGroup > *:not(:last-child) {
            margin-right: 8px;
            margin-bottom: 18px;
        }
        .searchGroup .ant-input-search {
            width: 250px;
        }
        .RichTableLayout main {
            padding: 0px;
            .ant-checkbox + span {
                padding-right: 0px;
            }
        }
        .ant-tabs-bar {
            margin-bottom: 0px;
        }
        .ModuleTitle {
            margin-bottom: 12px !important;
        }
        .RichTableLayout .RichTableLayout_SearchGroup > div > *:not(:last-child) {
            margin-right: 8px;
        }
        .RichTableLayout_SearchGroup {
            display: block;
            a {
                float: right;
                margin-top: 3px;
            }
            .secondSearchGroup {
                display: flex;
            }
            .secondSearchGroup > *:not(:last-child) {
                margin-right: 8px;
            }
        }
        .tableLabel {
            a, div {
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 220px;
                display: inline-block;
            }
        }
        .superiorSearch:hover {
            color: #4C79FC;
        }
        .superiorSearch {
            color: #5E6266;
            cursor: pointer;
        }
    }
}
.bizDetailEditDrawer {
    .ant-form-item-label {
        width: 100%;
        text-align: left;
    }
    .ruleForm {
        .ant-form-item-label {
            padding: 0px !important;
        }
    }
    .typeRecommand {
        width: 80px;
        height: 24px;
        background: #5176FE;
        border-radius: 0px 0px 0px 12px;
        text-align: center;
        line-height: 24px;
        float: right;
        color: #fff;
    }
    .bizTypeArea {
        .bizTypeItemArea {
            .bizTypeItem {
                cursor: pointer;
                margin-bottom: 8px;
                margin-right: 24px;
                display: inline-block;
                span {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    color: #fff;
                    font-size: 12px;
                    text-align: center;
                    background: #AFB8C1;
                    border-radius: 2px;
                    margin-right: 3px;
                    vertical-align: super;
                }
                div {
                    display: inline-block;
                    max-width: 400px;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                div:hover {
                    color: #4D73FF;
                }
            }
        }
    }
    .batchInfoArea {
        height: 46px;
        background: #F0F3FC;
        line-height: 46px;
        padding-left: 16px;
        margin-bottom: 24px;
    }
}
.catelogPopover {
    width: 320px;
    max-height: 220px;
    line-height: 32px;
    .ellipsisLabel {
        display: inline-block;
        width: 100%;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.bizSearchDrawer {
    .ant-drawer-content {
        overflow-y: hidden;
    }
    .hideExpandTable {
        .ant-table-expanded-row {
            display: none;
        }
    }
    .tableLabel {
        a, div {
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 220px;
            display: inline-block;
        }
    }
    .tagsSelect {
        .ant-select-selection--multiple {
            height: 32px;
            overflow: auto;
        }
    }
    .ant-drawer-wrapper-body .ant-drawer-body > main {
        padding-bottom: 0px !important;
    }
    .highlight {
        color: #4D73FF;
    }
    .TableLayout_FloatFooter {
        position: relative !important;
        width: 953px;
        left: -24px !important;
    }
}
.columnSearchDropdown {
    max-height: 300px;
    overflow-y: auto;
    padding: 16px 0;
    .suggestListContainer {
        max-height: 200px;
        overflow-y: auto;
    }
    .dropdownTitle {
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        margin-bottom: 8px;
        padding: 0 16px;
    }
    .dropdownValue {
        padding: 0 16px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        color: #5E6266;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .valueTitle {
            color: #2D3033;
        }
    }
    .dropdownValue:hover {
        background: #F4F5F7;
    }
    .dropdownValueSelected {
        background: #F4F5F7;
    }
}
.emptyIcon {
    text-align: center;
    .anticon {
        font-size: 52px;
        margin-top: 100px;
    }
    div {
        margin-top: 16px;
        color: #5E6266;
    }
}
.systemTree {
    .ant-tree-title {
        .treeName {
            //width: 100%;
            //display: inline-block;
        }
    }
}