.addNewCol{
    .timeDifference{
        padding: 17px 32px 0 32px;
        .description{
            height:22px;
            font-size:14px;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:rgba(0,0,0,1);
            line-height:22px;
            margin-bottom: 16px;
        }
    }
}