.selectSystem_list {


    .system_group {
        width: 100%;
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;

        .ant-modal-wrap {
            overflow: hidden;
        }

        .system_item {
            width: 100%;
            padding: 16px;
            box-shadow: inset 0px -1px 0px 0px #E6E8ED;
            font-size: 14px;
            color: #2D3033;
            overflow: hidden;

            .logo_img {
                width: 18px;
                height: 18px;
                margin: 0px 6px;
                margin-top: -2px;
            }

            .title {}

            .selectd {}
        }
    }

}

.ant-modal-wrap {
    overflow: hidden !important;
}