.step {
  margin: 24px 0;

  p {
    margin: 0;
    margin-bottom: 8px;
  }
}

.file_import {
  // position: absolute;
  // top: -30px;
  // right: 0;
  font-weight: 400;
  color: #4D73FF;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
}